In [1]:
import configparser
import os
from joblib import dump, load
import json
from tqdm import tqdm
from helpers.helper_functions import *
from helpers.helper_classes import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels as sm
import numpy as np
import pmdarima as pm
from statsmodels.tsa.arima.model import ARIMA

pd.set_option('display.max_rows', 500)

# Read config.ini file
config = configparser.ConfigParser()
config.read('src/config.ini')
# os.chdir(config['PATH']['ROOT_DIR'])

# # Load data
df = pd.read_csv(config['PATH']['DATA_DIR'] + '/dataset_mood_smartphone.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

# time to datetime
df['time'] = pd.to_datetime(df['time'])

In [2]:
# TODO: 
# DONE: Forward fill valence and arousal
# DONE: Remove appCat.builtin negative values
# DONE: Remove appCat outliers
# Impute valence, arousal and mood
# Impute long term missing values with mean instead of ffill (for valence and arousal)
# Aggregate to daily mood
# Decide on aggregation method for each variable

In [3]:
# # Forward fill valence and arousal
# # Iterate over people
# for person in tqdm(df['id'].unique()):
#     # Forward fill valence and arousal
#     idx_arousal = np.logical_and(df['id'] == person, df['variable'] == 'circumplex.arousal')
#     df.loc[idx_arousal] = df.loc[idx_arousal].fillna(method='ffill')
df

             id                    time        variable   value
0       AS14.01 2014-02-26 13:00:00.000            mood   6.000
1       AS14.01 2014-02-26 15:00:00.000            mood   6.000
2       AS14.01 2014-02-26 18:00:00.000            mood   6.000
3       AS14.01 2014-02-26 21:00:00.000            mood   7.000
4       AS14.01 2014-02-27 09:00:00.000            mood   6.000
...         ...                     ...             ...     ...
376907  AS14.30 2014-04-11 07:51:16.948  appCat.weather   8.032
376908  AS14.30 2014-04-19 11:00:32.747  appCat.weather   3.008
376909  AS14.30 2014-04-26 10:19:07.434  appCat.weather   7.026
376910  AS14.30 2014-04-27 00:44:48.450  appCat.weather  23.033
376911  AS14.32 2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 4 columns]

## Extreme values appCat variables
There are many outliers in the appCat variables, this is not ideal for numerical stability. We will one hot encode these outliers per variable and remove the outlier from the original observation

In [4]:
#  We will one hot encode these outliers per variable and remove the outlier from the original observation
#  Moreover we will remove all negative values

all_vars = df['variable'].unique()
appVars = [var for var in all_vars if 'appCat' in var]
appVars

for var in appVars:
    df_var_cur = df[df['variable'] == var]
    # Iterate over observations

    # Get 95th percentile
    perc98 = np.percentile(df_var_cur['value'], 98)

    # Get all idx where value is smaller than 0
    idx = df_var_cur[df_var_cur['value'] < 0].index
    df.drop(idx, axis=0, inplace=True)

    # Get all idx where value is larger than 95th percentile
    idx_98 = df_var_cur[df_var_cur['value'] > perc98].index

    # Change variable name to var_outlier
    df.loc[idx_98, 'variable'] = var + '_outlier'
    df.loc[idx_98, 'value'] = 1

In [5]:
def KF_params(arma_model):
    p, _, q = arma_model.order
    params = arma_model.params()
    
    # if p == 0 and q == 0:
    #     return None
    m = np.maximum(p, q+1)
    T = np.zeros((m, m))
    R = np.zeros(m)
    a_init = np.zeros(m)
    P_init = np.eye(m) * 10e7
    R[0] = 1
    Z = np.zeros(m)
    Z[0] = 1
    d = arma_model.params()['intercept'].astype(float)
    Q = np.array([params['sigma2']])

    for i in range(p):
        T[i, 0] = params["ar.L"+str(i+1)]
    for j in range(q):
        R[j+1] = params["ma.L"+str(j+1)]
    if m > 1:
        for k in range(m-1):
            T[k, k+1] = 1
    elif p == 0 and q == 0:
        T[0,0] = 1
    
    R = R.reshape(m,1)
    Z = Z.reshape(1,m)

    # Sum AR coefficients
    sum_AR = np.sum(arma_model.arparams())
    sum_AR2 = np.sum(arma_model.arparams()**2)
    sum_MA2 = np.sum(arma_model.maparams()**2)

    # Initial state and variance
    if p > 0:
        mu = params['intercept'] / (1 - sum_AR)
        a_init[0] = mu
        if p > 1:
            for i in range(p-1):
                a_init[i+1] = np.sum(arma_model.arparams()[i+1] * mu)
        P_init[0,0] = params['sigma2'] * (sum_MA2 + 1) / (1 - sum_AR2)

    return {'T': T, 'R': R, 'Z': Z, 'Q': Q, 'd': d, 'a_init': a_init, 'P_init': P_init}

KF_res_dict = {}

# Iterate over people
# for person in tqdm(df['id'].unique()):
for person in tqdm(['AS14.30']):
    # Dataframe for mood of current person
    idx_mood = np.logical_and(df['id'] == person , df['variable'] == 'mood')
    df_mood = df[idx_mood].copy()['value']
    model = pm.auto_arima(df_mood, suppress_warnings=True, seasonal=False, stepwise=True, d = 0, stationary = True)

    # # Extract the best (p, d, q) orders
    p, d, q = model.order
    params = model.params()
    # Get KF parameters
    KF_res_dict[person] = KF_params(model)

100%|██████████| 1/1 [00:00<00:00,  1.22it/s]

In [32]:

class KalmanFilter:
    """
    This class implements a Kalman filter. We have:

    1) The observation equation:
        y_t = Z_t * alpha_t + eps_t
        eps_t ~ N(0, H_t)

    2) The state update equation:
        alpha_{t+1} = T_t * alpha_t + R_t * eta_t
        eta_t ~ N (0, Q_t)

    3) Initialization
        alpha_1 ~ N(a1, P1)

        Stationary      -> a1 = mean(y_t),  P1 = var(y_t)
        Non-stationary  -> a1 = 0,          P1 = 10e7

    NOTE:
        - Z_t, H_t, R_t and Q_t are non-stochastic but can be time varying matrices.
    """

    def __init__(self, y, a_init, P_init, H, Q, R, d=0, c=0):
        self.y = np.array(y)
        self.n = len(y)
        self.a_init = np.array(a_init)
        self.P_init = np.array(P_init)

        # Make vector over time if not already
        self.H = self.as_vector_over_time(H)
        self.Q = self.as_vector_over_time(Q)
        self.R = self.as_vector_over_time(R)
        self.d = self.as_vector_over_time(d)
        self.c = self.as_vector_over_time(c)

        # Keep track of the procedures being ran
        self.smoother_ran = False
        self.filter_ran = False
        self.disturbance_smoother_ran = False

    def run_filter(self, Z, T):
        """
        Return a dictionary with:
            - v
            - F
            - K
            - a_pred (a_t)
            - a_filter (a_t|t)
            - P
        """
        result_dict = {key: "" for key in ["a_pred", "a_filter", "P", "v", "F", "K"]}

        # Initialization
        a_pred = np.array([np.zeros(shape=self.a_init.shape) for i in range(self.n + 1)])
        a_pred[0] = self.a_init

        a_filtered = [np.zeros(shape=self.a_init.shape) for i in range(self.n)]

        P = [np.zeros(shape=self.P_init.shape) for i in range(self.n + 1)]
        P[0] = self.P_init

        F = [None] * self.n
        K = [None] * self.n
        v = [np.array([0]).reshape(1, 1) for i in range(self.n)]

        Z = self.as_vector_over_time(Z)
        T = self.as_vector_over_time(T)

        # Loop as in slide 36 week 2
        for t in range(self.n):    
            # Prediction error
            v[t] = self.y[t] - Z[t] @ a_pred[t] - self.d[t]
            
            if np.isnan(self.y[t]):
                v[t] = np.zeros(shape=v[t - 1].shape)

            # Prediction variance
            F[t] = Z[t] @ P[t] @ Z[t].T + self.H[t]

            # print(f"F[{t}] = {F[t]}\n P[{t}] = {P[t]}\n Z[{t}] = {Z[t]}\n")
            PZF1 = P[t] @ Z[t].T @ np.linalg.inv(F[t])

            # Kalman Gain
            if np.isnan(self.y[t]):
                K[t] = np.zeros(shape=(T[t].shape[0], Z[t].shape[0]))
            else:
                K[t] = T[t] @ PZF1

            # Filtered and predicted a
            a_filtered[t] = a_pred[t] + PZF1 @ v[t]
            a_pred[t + 1] = T[t] @ a_filtered[t] + self.c[t] 

            # Update variance
            P[t + 1] = (
                T[t] @ P[t] @ T[t].T
                + self.R[t] @ self.Q[t] @ self.R[t].T
                - K[t] @ F[t] @ K[t].T
            )
        print(np.array(a_pred).shape)
        
        result_dict["a_pred"] = np.array(a_pred).reshape(self.n + 1, len(a_pred[0]))
        result_dict["a_filter"] = np.array(a_filtered).reshape(
            self.n, len(a_filtered[0])
        )
        result_dict["P"] = P
        result_dict["v"] = np.array(v).reshape(self.n, len(v[0]))
        result_dict["F"] = F
        result_dict["K"] = K

        # Save all matrices in class using self
        self.Z = Z
        self.T = T
        self.a_pred = result_dict["a_pred"]
        self.a_filter = result_dict["a_filter"]
        self.P = result_dict["P"]
        self.v = result_dict["v"]
        self.F = result_dict["F"]
        self.K = result_dict["K"]

        self.results_filter = result_dict
        self.filter_ran = True

        return result_dict
    
    

    def run_smoother(self, Z, T):
        """
        Return a dictionary with:
            - a_smooth
            - P_smooth (V in the book)
            - N
            - r
        """
        results_dict = {key: "" for key in ["a_smooth", "P_smooth", "N", "r"]}

        # Run filter if not already done
        if not self.filter_ran:
            self.run_filter(Z, T)
        res = self.results_filter

        Z = self.as_vector_over_time(Z)
        T = self.as_vector_over_time(T)

        # Read F from filter results
        # HARDCODED SIZE of v for now
        m = self.a_init.shape[0]
        F = res["F"].copy()
        v = res["v"].copy().reshape(self.n, 1, 1)  
        a_pred = res["a_pred"].reshape(self.n + 1, m, 1)

        # In the case of missing observations, we want F --> inf.
        # NOTE: we do not want this when using missing observations to `forecast`.
        # However: in that case we don't use the smoother/
        for t, y_t in enumerate(self.y):
            if np.isnan(y_t):
                F[t] = F[t] * 10e7

        # Initialize the smoothed values and the cumulants
        a_smooth = np.zeros(shape=(self.n, m, 1))
        P_smooth = np.zeros(shape=(self.n, m, m))
        r = np.zeros(shape=(self.n + 1, m, 1))
        N = np.zeros(shape=(self.n + 1, m, m))

        # Backwards recursive loop as in slide 45 week 2
        for t in range(self.n - 1, -1, -1):
            L = T[t] - res["K"][t] @ Z[t]
            r[t] = Z[t].T @ np.linalg.inv(F[t]) @ v[t] + L.T @ r[t + 1]
            N[t] = Z[t].T @ np.linalg.inv(F[t]) @ Z[t] + L.T @ N[t + 1] @ L

        # Forwards recursive loop as in slide 45 week 2
        for t in range(0, self.n):
            a_smooth[t] = a_pred[t] + res["P"][t] @ r[t]
            P_smooth[t] = res["P"][t] - res["P"][t].T @ N[t] @ res["P"][t]

        results_dict["a_smooth"] = np.array(a_smooth).reshape(self.n, len(a_smooth[0]))
        results_dict["P_smooth"] = P_smooth
        results_dict["N"] = N[1:]
        results_dict["r"] = r[1:]

        # Save all matrices in class using self
        self.a_smooth = results_dict["a_smooth"]
        self.P_smooth = results_dict["P_smooth"]
        self.N = results_dict["N"]
        self.r = results_dict["r"]

        self.results_smoother = results_dict
        self.smoother_ran = True

        return results_dict

    def run_disturbance_smoother(self):
        """This methods runs the disturbance smoothing recursions found on
        p. 96 of the DK book
        """
        if not self.smoother_ran:
            raise ValueError("Run the smoother first")
        if not self.filter_ran:
            raise ValueError("Run the filter first")

        results_dict = {
            key: ""
            for key in [
                "eps_smoothed",
                "eta_smoothed",
                "u",
                "D",
                "var_eps_smoothed",
                "var_eta_smoothed",
            ]
        }

        results_dict["N"] = self.N
        results_dict["r"] = self.r

        # Initialize empty arrays for the result arrays
        self.u = np.zeros(shape=(self.n, 1))
        self.eps_smoothed = np.zeros(shape=(self.n, 1))
        self.eta_smoothed = np.zeros(shape=(self.n, 1))
        self.D = [np.zeros(shape=self.F[0].shape) for _ in range(self.n)]
        self.var_eps_smoothed = np.zeros(shape=(self.n, 1))
        self.var_eta_smoothed = np.zeros(shape=(self.n, 1))

        for t in range(self.n):
            self.u[t] = np.linalg.inv(self.F[t]) @ self.v[t] - self.K[t].T @ self.r[t]
            self.D[t] = np.linalg.inv(self.F[t]) + self.K[t].T @ self.N[t] @ self.K[t]

            # Smoothed disturbances and variances
            self.eps_smoothed[t] = self.H[t] @ self.u[t]
            self.eta_smoothed[t] = self.Q[t] @ self.R[t].T @ self.r[t]
            self.var_eps_smoothed[t] = self.H[t] - self.H[t] @ self.D[t] @ self.H[t]
            self.var_eta_smoothed[t] = (
                self.Q[t] - self.Q[t] @ self.R[t].T @ self.N[t] @ self.R[t] @ self.Q[t]
            )

        # Save results
        results_dict["eps_smoothed"] = self.eps_smoothed
        results_dict["eta_smoothed"] = self.eta_smoothed
        results_dict["var_eps_smoothed"] = self.var_eps_smoothed
        results_dict["var_eta_smoothed"] = self.var_eta_smoothed
        results_dict["u"] = self.u
        results_dict["D"] = self.D

        self.results_disturbance_smoother = results_dict
        self.disturbance_smoother_ran = True

        return results_dict

    def run_simul(self, eps_hat):

        results_dict = {key: "" for key in ["eps_plus", "eta_plus", "y_plus", "A_plus"]}

        self.eps_plus = np.zeros(shape=(self.n, 1))
        self.eta_plus = np.zeros(shape=(self.n, 1))

        self.eps_hat_plus = np.zeros(shape=(self.n, 1))

        self.eps_tilde = np.zeros(shape=(self.n, 1))
        self.eta_tilde = np.zeros(shape=(self.n, 1))

        self.y_plus = np.zeros(shape=(self.n, 1))
        self.A_plus = np.zeros(shape=(self.n, 1))

        self.A_plus[0] = self.y[0]

        for t in range(self.n):
            self.eps_plus[t] = np.random.normal(0, np.sqrt(self.H[t]))
            self.eta_plus[t] = np.random.normal(0, np.sqrt(self.Q[t]))
            self.y_plus[t] = self.eps_plus[t] + self.A_plus[t]
            if t != self.n - 1:
                self.A_plus[t + 1] = self.A_plus[t] + self.eta_plus[t]

        results_dict["eps_plus"] = self.eps_plus
        results_dict["eta_plus"] = self.eta_plus
        results_dict["y_plus"] = self.y_plus
        results_dict["A_plus"] = self.A_plus

        return results_dict

    def run_simul_comp():
        results_dict = {key: "" for key in ["eps_plus", "eta_plus", "y_plus", "A_sim"]}

        return results_dict

    def as_vector_over_time(self, matrix):
        # If the 'matrix' is already a list of length n, this is not needed
        if type(matrix) == list and len(matrix) == self.n:
            return matrix

        # Return an error if the length is not good
        if type(matrix) == list and len(matrix) != self.n:
            raise ValueError("The vector of matrices needs to be of length n")

        if type(matrix) == np.ndarray and matrix.shape[0] == self.n:
            return matrix
        
        if type(matrix) == np.ndarray:
            return [matrix for i in range(self.n)]
        
        if (
            type(matrix) == int
            or type(matrix) == float
            or type(matrix) == np.float64
            or type(matrix) == np.int64
            or type(matrix) == np.int32
            or type(matrix) == np.float32
            or type(matrix) == np.int16
            or type(matrix) == np.float16
        ):
            return [np.array(matrix).reshape(1, 1) for i in range(self.n)]

        else:
            raise TypeError(
                f"matrix needs to be of type np.ndarray or list, type given: {type(matrix)}"
            )

In [33]:
# AS14.05
idx_mood = np.logical_and(df['id'] == "AS14.30" , df['variable'] == 'mood')
KF_1430 = KF_res_dict["AS14.30"]
df_mood = df[idx_mood].copy()
# sort by time
df_mood.sort_values('time', inplace=True)
# df_mood.values to floats
df_mood['value'] = df_mood['value'].astype(float)

KF = KalmanFilter(y=df_mood['value'].values,
                a_init=KF_1430['a_init'],
                P_init = KF_1430['P_init'],
                H = np.array([0]).reshape(1,1),
                Q = KF_1430['Q'],
                R = KF_1430['R'],
                d = KF_1430['d'])

res = KF.run_smoother(Z = KF_1430['Z'], T = KF_1430['T'])

res_final = (res['a_smooth'] + KF_1430['d']).flatten()
# DF with one column with the smoothed values, and one column with the true values
df_mood['smoothed'] = res_final
df_mood

(236, 1)

             id                time variable  value  smoothed
376908  AS14.30 2014-03-20 09:00:00     mood    NaN  8.000000
376909  AS14.30 2014-03-20 12:00:00     mood    NaN  8.000000
4899    AS14.30 2014-03-20 15:00:00     mood    8.0  8.000000
4900    AS14.30 2014-03-20 18:00:00     mood    7.0  7.000000
4901    AS14.30 2014-03-20 21:00:00     mood    6.0  6.000000
4902    AS14.30 2014-03-21 09:00:00     mood    7.0  7.000000
4903    AS14.30 2014-03-21 12:00:00     mood    8.0  8.000000
4904    AS14.30 2014-03-21 15:00:00     mood    7.0  7.000000
4905    AS14.30 2014-03-21 18:00:00     mood    9.0  9.000000
4906    AS14.30 2014-03-21 21:00:00     mood    8.0  8.000000
4907    AS14.30 2014-03-22 09:00:00     mood    8.0  8.000000
4908    AS14.30 2014-03-22 12:00:00     mood    8.0  8.000000
4909    AS14.30 2014-03-22 15:00:00     mood    7.0  7.000000
4910    AS14.30 2014-03-22 18:00:00     mood    8.0  8.000000
4911    AS14.30 2014-03-22 21:00:00     mood    7.0  7.000000
4912    AS14.30 2014-03-23 09:00:00     mood    8.0  8.000000
4913    AS14.30 2014-03-23 12:00:00     mood    8.0  8.000000
4914    AS14.30 2014-03-23 15:00:00     mood    8.0  8.000000
4915    AS14.30 2014-03-23 18:00:00     mood    7.0  7.000000
4916    AS14.30 2014-03-23 21:00:00     mood    8.0  8.000000
4917    AS14.30 2014-03-24 09:00:00     mood    8.0  8.000000
4918    AS14.30 2014-03-24 12:00:00     mood    8.0  8.000000
4919    AS14.30 2014-03-24 15:00:00     mood    7.0  7.000000
4920    AS14.30 2014-03-24 19:00:00     mood    8.0  8.000000
4921    AS14.30 2014-03-24 21:00:00     mood    8.0  8.000000
4922    AS14.30 2014-03-25 09:00:00     mood    8.0  8.000000
4923    AS14.30 2014-03-25 12:00:00     mood    8.0  8.000000
4924    AS14.30 2014-03-25 15:00:00     mood    8.0  8.000000
4925    AS14.30 2014-03-25 18:00:00     mood    8.0  8.000000
4926    AS14.30 2014-03-25 21:00:00     mood    8.0  8.000000
4927    AS14.30 2014-03-26 09:00:00     mood    8.0  8.000000
4928    AS14.30 2014-03-26 12:00:00     mood    6.0  6.000000
4929    AS14.30 2014-03-26 16:00:00     mood    8.0  8.000000
4930    AS14.30 2014-03-26 18:00:00     mood    8.0  8.000000
4931    AS14.30 2014-03-26 21:00:00     mood    4.0  4.000000
376910  AS14.30 2014-03-27 09:00:00     mood    NaN  6.000000
4932    AS14.30 2014-03-27 12:00:00     mood    8.0  8.000000
4933    AS14.30 2014-03-27 15:00:00     mood    8.0  8.000000
4934    AS14.30 2014-03-27 18:00:00     mood    8.0  8.000000
4935    AS14.30 2014-03-27 21:00:00     mood    7.0  7.000000
4936    AS14.30 2014-03-28 09:00:00     mood    7.0  7.000000
4937    AS14.30 2014-03-28 12:00:00     mood    7.0  7.000000
4938    AS14.30 2014-03-28 15:00:00     mood    7.0  7.000000
4939    AS14.30 2014-03-28 18:00:00     mood    9.0  9.000000
4940    AS14.30 2014-03-28 21:00:00     mood    9.0  9.000000
4941    AS14.30 2014-03-29 09:00:00     mood    8.0  8.000000
4942    AS14.30 2014-03-29 12:00:00     mood    9.0  9.000000
4943    AS14.30 2014-03-29 15:00:00     mood    8.0  8.000000
4944    AS14.30 2014-03-29 20:00:00     mood    9.0  9.000000
4945    AS14.30 2014-03-29 21:00:00     mood    8.0  8.000000
4946    AS14.30 2014-03-30 09:00:00     mood    8.0  8.000000
4947    AS14.30 2014-03-30 12:00:00     mood    8.0  8.000000
4948    AS14.30 2014-03-30 15:00:00     mood    8.0  8.000000
4949    AS14.30 2014-03-30 18:00:00     mood    7.0  7.000000
4950    AS14.30 2014-03-30 21:00:00     mood    7.0  7.000000
4951    AS14.30 2014-03-31 09:00:00     mood    7.0  7.000000
4952    AS14.30 2014-03-31 12:00:00     mood    7.0  7.000000
4953    AS14.30 2014-03-31 15:00:00     mood    8.0  8.000000
4954    AS14.30 2014-03-31 18:00:00     mood    8.0  8.000000
4955    AS14.30 2014-03-31 21:00:00     mood    8.0  8.000000
4956    AS14.30 2014-04-01 09:00:00     mood    8.0  8.000000
4957    AS14.30 2014-04-01 12:00:00     mood    8.0  8.000000
4958    AS14.30 2014-04-01 15:00:00     mood    8.0  8.000000
4959    AS14.30 2014-04-01 18:00:00     mood    8.0  8.000000
4960    AS14.30 2014-04-01 21:00:00     mood    7.0  7.000000
4961    AS14.30 2014-04-02 09:00:00     mood    8.0  8.000000
4962    AS14.30 2014-04-02 12:00:00     mood    8.0  8.000000
4963    AS14.30 2014-04-02 15:00:00     mood    6.0  6.000000
4964    AS14.30 2014-04-02 18:00:00     mood    8.0  8.000000
4965    AS14.30 2014-04-02 21:00:00     mood    8.0  8.000000
4966    AS14.30 2014-04-03 09:00:00     mood    7.0  7.000000
4967    AS14.30 2014-04-03 12:00:00     mood    8.0  8.000000
4968    AS14.30 2014-04-03 15:00:00     mood    9.0  9.000000
4969    AS14.30 2014-04-03 18:00:00     mood    8.0  8.000000
4970    AS14.30 2014-04-03 21:00:00     mood    8.0  8.000000
4971    AS14.30 2014-04-04 10:00:00     mood    8.0  8.000000
4972    AS14.30 2014-04-04 12:00:00     mood    8.0  8.000000
4973    AS14.30 2014-04-04 15:00:00     mood    8.0  8.000000
4974    AS14.30 2014-04-04 18:00:00     mood    8.0  8.000000
4975    AS14.30 2014-04-04 21:00:00     mood    7.0  7.000000
4976    AS14.30 2014-04-05 09:00:00     mood    8.0  8.000000
4977    AS14.30 2014-04-05 12:00:00     mood    8.0  8.000000
4978    AS14.30 2014-04-05 15:00:00     mood    8.0  8.000000
4979    AS14.30 2014-04-05 18:00:00     mood    8.0  8.000000
4980    AS14.30 2014-04-05 21:00:00     mood    8.0  8.000000
4981    AS14.30 2014-04-06 10:00:00     mood    8.0  8.000000
4982    AS14.30 2014-04-06 12:00:00     mood    8.0  8.000000
4983    AS14.30 2014-04-06 15:00:00     mood    8.0  8.000000
4984    AS14.30 2014-04-06 19:00:00     mood    8.0  8.000000
4985    AS14.30 2014-04-06 21:00:00     mood    8.0  8.000000
4986    AS14.30 2014-04-07 09:00:00     mood    8.0  8.000000
4987    AS14.30 2014-04-07 12:00:00     mood    7.0  7.000000
4988    AS14.30 2014-04-07 15:00:00     mood    8.0  8.000000
4989    AS14.30 2014-04-07 18:00:00     mood    7.0  7.000000
4990    AS14.30 2014-04-07 21:00:00     mood    8.0  8.000000
4991    AS14.30 2014-04-08 09:00:00     mood    7.0  7.000000
4992    AS14.30 2014-04-08 12:00:00     mood    8.0  8.000000
4993    AS14.30 2014-04-08 15:00:00     mood    8.0  8.000000
4994    AS14.30 2014-04-08 18:00:00     mood    9.0  9.000000
4995    AS14.30 2014-04-08 21:00:00     mood    7.0  7.000000
4996    AS14.30 2014-04-09 09:00:00     mood    7.0  7.000000
4997    AS14.30 2014-04-09 12:00:00     mood    8.0  8.000000
4998    AS14.30 2014-04-09 15:00:00     mood    8.0  8.000000
376911  AS14.30 2014-04-09 18:00:00     mood    NaN  8.000000
4999    AS14.30 2014-04-09 21:00:00     mood    8.0  8.000000
5000    AS14.30 2014-04-10 09:00:00     mood    8.0  8.000000
5001    AS14.30 2014-04-10 12:00:00     mood    9.0  9.000000
5002    AS14.30 2014-04-10 15:00:00     mood    8.0  8.000000
5003    AS14.30 2014-04-10 18:00:00     mood    8.0  8.000000
5004    AS14.30 2014-04-10 21:00:00     mood    8.0  8.000000
5005    AS14.30 2014-04-11 10:00:00     mood    9.0  9.000000
376912  AS14.30 2014-04-11 12:00:00     mood    NaN  8.333333
376913  AS14.30 2014-04-11 15:00:00     mood    NaN  7.666667
5006    AS14.30 2014-04-11 18:00:00     mood    7.0  7.000000
5007    AS14.30 2014-04-11 21:00:00     mood    7.0  7.000000
5008    AS14.30 2014-04-12 09:00:00     mood    7.0  7.000000
5009    AS14.30 2014-04-12 13:00:00     mood    9.0  9.000000
5010    AS14.30 2014-04-12 16:00:00     mood    8.0  8.000000
5011    AS14.30 2014-04-12 18:00:00     mood    8.0  8.000000
5012    AS14.30 2014-04-12 21:00:00     mood    7.0  7.000000
5013    AS14.30 2014-04-13 09:00:00     mood    7.0  7.000000
5014    AS14.30 2014-04-13 12:00:00     mood    7.0  7.000000
5015    AS14.30 2014-04-13 15:00:00     mood    8.0  8.000000
5016    AS14.30 2014-04-13 18:00:00     mood    7.0  7.000000
5017    AS14.30 2014-04-13 21:00:00     mood    7.0  7.000000
5018    AS14.30 2014-04-14 09:00:00     mood    7.0  7.000000
5019    AS14.30 2014-04-14 12:00:00     mood    9.0  9.000000
376914  AS14.30 2014-04-14 15:00:00     mood    NaN  8.000000
5020    AS14.30 2014-04-14 18:00:00     mood    7.0  7.000000
5021    AS14.30 2014-04-14 21:00:00     mood    8.0  8.000000
5022    AS14.30 2014-04-15 09:00:00     mood    8.0  8.000000
5023    AS14.30 2014-04-15 12:00:00     mood    7.0  7.000000
5024    AS14.30 2014-04-15 15:00:00     mood    8.0  8.000000
5025    AS14.30 2014-04-15 18:00:00     mood    7.0  7.000000
5026    AS14.30 2014-04-15 21:00:00     mood    8.0  8.000000
5027    AS14.30 2014-04-16 09:00:00     mood    8.0  8.000000
5028    AS14.30 2014-04-16 12:00:00     mood    8.0  8.000000
5029    AS14.30 2014-04-16 15:00:00     mood    8.0  8.000000
5030    AS14.30 2014-04-16 18:00:00     mood    9.0  9.000000
5031    AS14.30 2014-04-16 22:00:00     mood    9.0  9.000000
5032    AS14.30 2014-04-17 09:00:00     mood    8.0  8.000000
5033    AS14.30 2014-04-17 12:00:00     mood    8.0  8.000000
5034    AS14.30 2014-04-17 15:00:00     mood    8.0  8.000000
5035    AS14.30 2014-04-17 18:00:00     mood    7.0  7.000000
5036    AS14.30 2014-04-17 21:00:00     mood    7.0  7.000000
5037    AS14.30 2014-04-18 09:00:00     mood    7.0  7.000000
5038    AS14.30 2014-04-18 12:00:00     mood    7.0  7.000000
5039    AS14.30 2014-04-18 15:00:00     mood    7.0  7.000000
5040    AS14.30 2014-04-18 18:00:00     mood    8.0  8.000000
5041    AS14.30 2014-04-18 21:00:00     mood    8.0  8.000000
5042    AS14.30 2014-04-19 11:00:00     mood    7.0  7.000000
5043    AS14.30 2014-04-19 12:00:00     mood    8.0  8.000000
5044    AS14.30 2014-04-19 15:00:00     mood    8.0  8.000000
5045    AS14.30 2014-04-19 18:00:00     mood    8.0  8.000000
5046    AS14.30 2014-04-19 21:00:00     mood    8.0  8.000000
5047    AS14.30 2014-04-20 09:00:00     mood    7.0  7.000000
376915  AS14.30 2014-04-20 12:00:00     mood    NaN  7.500000
5048    AS14.30 2014-04-20 16:00:00     mood    8.0  8.000000
5049    AS14.30 2014-04-20 18:00:00     mood    8.0  8.000000
5050    AS14.30 2014-04-20 21:00:00     mood    8.0  8.000000
5051    AS14.30 2014-04-21 09:00:00     mood    8.0  8.000000
5052    AS14.30 2014-04-21 12:00:00     mood    8.0  8.000000
5053    AS14.30 2014-04-21 15:00:00     mood    7.0  7.000000
5054    AS14.30 2014-04-21 18:00:00     mood    8.0  8.000000
5055    AS14.30 2014-04-21 21:00:00     mood    8.0  8.000000
5056    AS14.30 2014-04-22 10:00:00     mood    7.0  7.000000
5057    AS14.30 2014-04-22 12:00:00     mood    8.0  8.000000
5058    AS14.30 2014-04-22 15:00:00     mood    9.0  9.000000
5059    AS14.30 2014-04-22 18:00:00     mood    8.0  8.000000
5060    AS14.30 2014-04-22 21:00:00     mood    8.0  8.000000
5061    AS14.30 2014-04-23 09:00:00     mood    7.0  7.000000
5062    AS14.30 2014-04-23 12:00:00     mood    8.0  8.000000
5063    AS14.30 2014-04-23 15:00:00     mood    8.0  8.000000
5064    AS14.30 2014-04-23 18:00:00     mood    8.0  8.000000
5065    AS14.30 2014-04-23 21:00:00     mood    7.0  7.000000
5066    AS14.30 2014-04-24 09:00:00     mood    8.0  8.000000
5067    AS14.30 2014-04-24 12:00:00     mood    8.0  8.000000
5068    AS14.30 2014-04-24 15:00:00     mood    8.0  8.000000
5069    AS14.30 2014-04-24 20:00:00     mood    8.0  8.000000
5070    AS14.30 2014-04-24 21:00:00     mood    9.0  9.000000
5071    AS14.30 2014-04-25 09:00:00     mood    8.0  8.000000
5072    AS14.30 2014-04-25 12:00:00     mood    8.0  8.000000
376916  AS14.30 2014-04-25 15:00:00     mood    NaN  8.000000
5073    AS14.30 2014-04-25 18:00:00     mood    8.0  8.000000
5074    AS14.30 2014-04-25 21:00:00     mood    6.0  6.000000
5075    AS14.30 2014-04-26 10:00:00     mood    8.0  8.000000
5076    AS14.30 2014-04-26 12:00:00     mood    8.0  8.000000
5077    AS14.30 2014-04-26 15:00:00     mood    8.0  8.000000
5078    AS14.30 2014-04-26 18:00:00     mood    7.0  7.000000
5079    AS14.30 2014-04-26 21:00:00     mood    8.0  8.000000
5080    AS14.30 2014-04-27 09:00:00     mood    7.0  7.000000
5081    AS14.30 2014-04-27 13:00:00     mood    8.0  8.000000
5082    AS14.30 2014-04-27 15:00:00     mood    8.0  8.000000
5083    AS14.30 2014-04-27 18:00:00     mood    8.0  8.000000
5084    AS14.30 2014-04-27 21:00:00     mood    8.0  8.000000
5085    AS14.30 2014-04-28 10:00:00     mood    8.0  8.000000
5086    AS14.30 2014-04-28 12:00:00     mood    8.0  8.000000
5087    AS14.30 2014-04-28 15:00:00     mood    8.0  8.000000
5088    AS14.30 2014-04-28 19:00:00     mood    8.0  8.000000
5089    AS14.30 2014-04-28 21:00:00     mood    8.0  8.000000
5090    AS14.30 2014-04-29 11:00:00     mood    8.0  8.000000
5091    AS14.30 2014-04-29 12:00:00     mood    8.0  8.000000
5092    AS14.30 2014-04-29 15:00:00     mood    8.0  8.000000
5093    AS14.30 2014-04-29 19:00:00     mood    8.0  8.000000
5094    AS14.30 2014-04-29 21:00:00     mood    8.0  8.000000
5095    AS14.30 2014-04-30 09:00:00     mood    8.0  8.000000
5096    AS14.30 2014-04-30 12:00:00     mood    8.0  8.000000
5097    AS14.30 2014-04-30 15:00:00     mood    8.0  8.000000
5098    AS14.30 2014-04-30 18:00:00     mood    8.0  8.000000
5099    AS14.30 2014-04-30 21:00:00     mood    7.0  7.000000
5100    AS14.30 2014-05-01 09:00:00     mood    8.0  8.000000
5101    AS14.30 2014-05-01 12:00:00     mood    8.0  8.000000
5102    AS14.30 2014-05-01 15:00:00     mood    9.0  9.000000
5103    AS14.30 2014-05-01 18:00:00     mood    8.0  8.000000
5104    AS14.30 2014-05-01 21:00:00     mood    8.0  8.000000
5105    AS14.30 2014-05-02 10:00:00     mood    8.0  8.000000
5106    AS14.30 2014-05-02 12:00:00     mood    8.0  8.000000
5107    AS14.30 2014-05-02 15:00:00     mood    8.0  8.000000
5108    AS14.30 2014-05-02 18:00:00     mood    8.0  8.000000
5109    AS14.30 2014-05-02 21:00:00     mood    8.0  8.000000
5110    AS14.30 2014-05-03 09:00:00     mood    8.0  8.000000
5111    AS14.30 2014-05-03 12:00:00     mood    7.0  7.000000
5112    AS14.30 2014-05-03 15:00:00     mood    8.0  8.000000
5113    AS14.30 2014-05-03 18:00:00     mood    8.0  8.000000
5114    AS14.30 2014-05-03 22:00:00     mood    8.0  8.000000
5115    AS14.30 2014-05-04 10:00:00     mood    7.0  7.000000
5116    AS14.30 2014-05-04 12:00:00     mood    8.0  8.000000
5117    AS14.30 2014-05-04 15:00:00     mood    8.0  8.000000
5118    AS14.30 2014-05-04 19:00:00     mood    8.0  8.000000
5119    AS14.30 2014-05-04 21:00:00     mood    8.0  8.000000
5120    AS14.30 2014-05-05 09:00:00     mood    8.0  8.000000
5121    AS14.30 2014-05-05 13:00:00     mood    8.0  8.000000
5122    AS14.30 2014-05-05 15:00:00     mood    8.0  8.000000
376917  AS14.30 2014-05-05 18:00:00     mood    NaN  8.000000
376918  AS14.30 2014-05-05 21:00:00     mood    NaN  8.000000

In [20]:
Z = KF_1430['Z']
P = KF_1430['P_init']
H = np.array([0]).reshape(1,1)
Z @ P @ Z + H

array([[1.e+08]])

In [ ]:
KF_res_dict['AS14.30']

{'T': array([[1.]]),
 'R': array([[1.]]),
 'Z': array([[1.]]),
 'Q': array([0.39793925]),
 'd': 7.790178569605351,
 'a_init': array([0.]),
 'P_init': array([[1.e+08, 0.e+00, 0.e+00],
        [0.e+00, 1.e+08, 0.e+00],
        [0.e+00, 0.e+00, 1.e+08]])}

In [19]:
df_mood['value'].values

array([8., 7., 6., 7., 8., 7., 9., 8., 8., 8., 7., 8., 7., 8., 8., 8., 7.,
       8., 8., 8., 7., 8., 8., 8., 8., 8., 8., 8., 8., 6., 8., 8., 4., 8.,
       8., 8., 7., 7., 7., 7., 9., 9., 8., 9., 8., 9., 8., 8., 8., 8., 7.,
       7., 7., 7., 8., 8., 8., 8., 8., 8., 8., 7., 8., 8., 6., 8., 8., 7.,
       8., 9., 8., 8., 8., 8., 8., 8., 7., 8., 8., 8., 8., 8., 8., 8., 8.,
       8., 8., 8., 7., 8., 7., 8., 7., 8., 8., 9., 7., 7., 8., 8., 8., 8.,
       9., 8., 8., 8., 9., 7., 7., 7., 9., 8., 8., 7., 7., 7., 8., 7., 7.,
       7., 9., 7., 8., 8., 7., 8., 7., 8., 8., 8., 8., 9., 9., 8., 8., 8.,
       7., 7., 7., 7., 7., 8., 8., 7., 8., 8., 8., 8., 7., 8., 8., 8., 8.,
       8., 7., 8., 8., 7., 8., 9., 8., 8., 7., 8., 8., 8., 7., 8., 8., 8.,
       8., 9., 8., 8., 8., 6., 8., 8., 8., 7., 8., 7., 8., 8., 8., 8., 8.,
       8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 8., 7., 8., 8., 9.,
       8., 8., 8., 8., 8., 8., 8., 8., 7., 8., 8., 8., 7., 8., 8., 8., 8.,
       8., 8., 8.])

In [53]:
np.diag(10e7 * np.ones(m))

array([[1.e+08, 0.e+00, 0.e+00],
       [0.e+00, 1.e+08, 0.e+00],
       [0.e+00, 0.e+00, 1.e+08]])

In [48]:
# KF = KalmanFilter(y=df['Nile'], 
#                     a_init=np.zeros(np.maximum()).reshape(1,1), 
#                     P_init=np.array([10e7]).reshape(1,1),
#                     H=np.array([15099]).reshape(1,1), 
#                     Q = np.array([1469.1]).reshape(1,1), 
#                     R = np.array([1]).reshape(1,1))

# def KF_arma(p, q, df):
#     KF = KalmanFilter(y=df['Nile'],
#                     a_init=np.zeros(np.maximum(p, q+1)).reshape(np.maximum(p, q+1),1),
#                     P_init = np.diag(10e7 * np.ones(np.maximum(p, q+1))),
#                     H = np.array([0]).reshape(1,1),
#                     Q)
params['sigma2']

0.19812905785970927

In [49]:
# Get all variables
variables = df['variable'].unique()

# Iterate over variables
for variable in variables:
    # Get the data for this variable
    df_variable = df[df['variable'] == variable]

    # Get 95th percentile
    percentile_95 = np.percentile(df_variable['value'], 95)

    # Describe value column for variable
    print(f"Variable {variable}:")
    print(df_variable['value'].describe())

Variable mood:
count    5641.000000
mean        6.992555
std         1.032769
min         1.000000
25%         7.000000
50%         7.000000
75%         8.000000
max        10.000000
Name: value, dtype: float64
Variable circumplex.arousal:
count    5597.000000
mean       -0.098624
std         1.051868
min        -2.000000
25%        -1.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: value, dtype: float64
Variable circumplex.valence:
count    5487.000000
mean        0.687808
std         0.671298
min        -2.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: value, dtype: float64
Variable activity:
count    22965.000000
mean         0.115958
std          0.186946
min          0.000000
25%          0.000000
50%          0.021739
75%          0.158333
max          1.000000
Name: value, dtype: float64
Variable screen:
count    96578.000000
mean        75.335206
std        253.822497
min          0.035000
25%          5.322250
50%         20.044500
75%         62.540250
max       9867.007000
Name: value, dtype: float64
Variable call:
count    5239.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable sms:
count    1798.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable appCat.builtin:
count    89459.00000
mean         8.40431
std         11.80418
min          0.00100
25%          2.01600
50%          4.02400
75%          9.44100
max         80.86100
Name: value, dtype: float64
Variable appCat.builtin_outlier:
count    1826.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable appCat.communication:
count    72790.000000
mean        32.566484
std         42.075934
min          0.006000
25%          5.199000
50%         15.493500
75%         42.832750
max        258.651000
Name: value, dtype: float64
Variable appCat.communication_outlier:
count    1486.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable appCat.entertainment:
count    26581.000000
mean        20.471202
std         46.375851
min          0.001000
25%          1.293000
50%          3.135000
75%         13.266000
max        355.167000
Name: value, dtype: float64
Variable appCat.entertainment_outlier:
count    543.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.finance:
count    920.000000
mean      17.584509
std       25.061586
min        0.131000
25%        4.042500
50%        8.022000
75%       18.693000
max      148.776000
Name: value, dtype: float64
Variable appCat.finance_outlier:
count    19.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.game:
count    796.000000
mean      94.713244
std      136.287453
min        1.003000
25%       14.059750
50%       41.201500
75%      109.156000
max      824.282000
Name: value, dtype: float64
Variable appCat.game_outlier:
count    17.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.office:
count    5529.000000
mean        8.968933
std        15.526442
min         0.003000
25%         2.003000
50%         3.051000
75%         7.169000
max       110.961000
Name: value, dtype: float64
Variable appCat.office_outlier:
count    113.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.other:
count    7497.000000
mean       16.086004
std        20.175202
min         0.014000
25%         7.017000
50%         9.533000
75%        16.058000
max       158.588000
Name: value, dtype: float64
Variable appCat.other_outlier:
count    153.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.social:
count    18762.000000
mean        56.047439
std         75.102117
min          0.094000
25%          8.406750
50%         27.302000
75%         70.951000
max        460.126000
Name: value, dtype: float64
Variable appCat.social_outlier:
count    383.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.travel:
count    2789.000000
mean       31.240602
std        35.691672
min         0.080000
25%         5.045000
50%        17.126000
75%        45.155000
max       212.746000
Name: value, dtype: float64
Variable appCat.travel_outlier:
count    57.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.unknown:
count    920.000000
mean      32.568970
std       46.818912
min        0.111000
25%        5.014500
50%       16.135000
75%       41.163250
max      358.674000
Name: value, dtype: float64
Variable appCat.unknown_outlier:
count    19.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.utilities:
count    2437.000000
mean       13.189101
std        14.769960
min         0.246000
25%         3.103000
50%         7.610000
75%        18.133000
max        87.597000
Name: value, dtype: float64
Variable appCat.utilities_outlier:
count    50.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.weather:
count    249.000000
mean      17.933655
std       12.766343
min        1.003000
25%        8.230000
50%       15.095000
75%       24.278000
max       54.194000
Name: value, dtype: float64
Variable appCat.weather_outlier:
count    6.0
mean     1.0
std      0.0
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0
Name: value, dtype: float64

In [92]:
df.append(df_variable)
# print(df.loc[idx_arousal])

AttributeError: 'DataFrame' object has no attribute 'append'

In [30]:
idx_mood = np.logical_and(df['id'] == "AS14.30" , df['variable'] == 'mood')
df_mood = df[idx_mood].copy()
df_mood

# Time sections

# Get first date
first_date = df_mood['time'].min().date()

# Last date
last_date = df_mood['time'].max().date()

# Iterate over dates by day
for date in pd.date_range(start=first_date, end=last_date, freq='D'):
    # Get all rows for this date
    idx_date = df_mood['time'].dt.date == date.date()
    df_date = df_mood[idx_date].copy()

    if len(df_date) == 5:
        print(date, len(df_date), df_date)
        continue

    # check for observation between 9.00 and 12.00
    hour_sets = [[9,12], [12,15], [15,18], [18,21], [21,24]]

    for hour_set in hour_sets:
        idx_cur = np.logical_and(df_date['time'].dt.hour >= hour_set[0], df_date['time'].dt.hour < hour_set[1])
        if len(df_date[idx_cur]) == 0:
            print(f"Missing observation for {date} between {hour_set[0]} and {hour_set[1]}")
            # Create new row
            new_row = df_date.iloc[0].copy()
            new_row['time'] = date.replace(hour=hour_set[0])
            new_row['value'] = np.nan

            df = pd.concat([df, pd.DataFrame(new_row).T], ignore_index=True)
            df_date = pd.concat([df_date, pd.DataFrame(new_row).T], ignore_index=True)

Missing observation for 2014-03-20 00:00:00 between 9 and 12
Missing observation for 2014-03-20 00:00:00 between 12 and 15
2014-03-21 00:00:00 5            id                time variable  value
4902  AS14.30 2014-03-21 09:00:00     mood    7.0
4903  AS14.30 2014-03-21 12:00:00     mood    8.0
4904  AS14.30 2014-03-21 15:00:00     mood    7.0
4905  AS14.30 2014-03-21 18:00:00     mood    9.0
4906  AS14.30 2014-03-21 21:00:00     mood    8.0
2014-03-22 00:00:00 5            id                time variable  value
4907  AS14.30 2014-03-22 09:00:00     mood    8.0
4908  AS14.30 2014-03-22 12:00:00     mood    8.0
4909  AS14.30 2014-03-22 15:00:00     mood    7.0
4910  AS14.30 2014-03-22 18:00:00     mood    8.0
4911  AS14.30 2014-03-22 21:00:00     mood    7.0
2014-03-23 00:00:00 5            id                time variable  value
4912  AS14.30 2014-03-23 09:00:00     mood    8.0
4913  AS14.30 2014-03-23 12:00:00     mood    8.0
4914  AS14.30 2014-03-23 15:00:00     mood    8.0
4915  AS14.30 2014-03-23 18:00:00     mood    7.0
4916  AS14.30 2014-03-23 21:00:00     mood    8.0
2014-03-24 00:00:00 5            id                time variable  value
4917  AS14.30 2014-03-24 09:00:00     mood    8.0
4918  AS14.30 2014-03-24 12:00:00     mood    8.0
4919  AS14.30 2014-03-24 15:00:00     mood    7.0
4920  AS14.30 2014-03-24 19:00:00     mood    8.0
4921  AS14.30 2014-03-24 21:00:00     mood    8.0
2014-03-25 00:00:00 5            id                time variable  value
4922  AS14.30 2014-03-25 09:00:00     mood    8.0
4923  AS14.30 2014-03-25 12:00:00     mood    8.0
4924  AS14.30 2014-03-25 15:00:00     mood    8.0
4925  AS14.30 2014-03-25 18:00:00     mood    8.0
4926  AS14.30 2014-03-25 21:00:00     mood    8.0
2014-03-26 00:00:00 5            id                time variable  value
4927  AS14.30 2014-03-26 09:00:00     mood    8.0
4928  AS14.30 2014-03-26 12:00:00     mood    6.0
4929  AS14.30 2014-03-26 16:00:00     mood    8.0
4930  AS14.30 2014-03-26 18:00:00     mood    8.0
4931  AS14.30 2014-03-26 21:00:00     mood    4.0
Missing observation for 2014-03-27 00:00:00 between 9 and 12
2014-03-28 00:00:00 5            id                time variable  value
4936  AS14.30 2014-03-28 09:00:00     mood    7.0
4937  AS14.30 2014-03-28 12:00:00     mood    7.0
4938  AS14.30 2014-03-28 15:00:00     mood    7.0
4939  AS14.30 2014-03-28 18:00:00     mood    9.0
4940  AS14.30 2014-03-28 21:00:00     mood    9.0
2014-03-29 00:00:00 5            id                time variable  value
4941  AS14.30 2014-03-29 09:00:00     mood    8.0
4942  AS14.30 2014-03-29 12:00:00     mood    9.0
4943  AS14.30 2014-03-29 15:00:00     mood    8.0
4944  AS14.30 2014-03-29 20:00:00     mood    9.0
4945  AS14.30 2014-03-29 21:00:00     mood    8.0
2014-03-30 00:00:00 5            id                time variable  value
4946  AS14.30 2014-03-30 09:00:00     mood    8.0
4947  AS14.30 2014-03-30 12:00:00     mood    8.0
4948  AS14.30 2014-03-30 15:00:00     mood    8.0
4949  AS14.30 2014-03-30 18:00:00     mood    7.0
4950  AS14.30 2014-03-30 21:00:00     mood    7.0
2014-03-31 00:00:00 5            id                time variable  value
4951  AS14.30 2014-03-31 09:00:00     mood    7.0
4952  AS14.30 2014-03-31 12:00:00     mood    7.0
4953  AS14.30 2014-03-31 15:00:00     mood    8.0
4954  AS14.30 2014-03-31 18:00:00     mood    8.0
4955  AS14.30 2014-03-31 21:00:00     mood    8.0
2014-04-01 00:00:00 5            id                time variable  value
4956  AS14.30 2014-04-01 09:00:00     mood    8.0
4957  AS14.30 2014-04-01 12:00:00     mood    8.0
4958  AS14.30 2014-04-01 15:00:00     mood    8.0
4959  AS14.30 2014-04-01 18:00:00     mood    8.0
4960  AS14.30 2014-04-01 21:00:00     mood    7.0
2014-04-02 00:00:00 5            id                time variable  value
4961  AS14.30 2014-04-02 09:00:00     mood    8.0
4962  AS14.30 2014-04-02 12:00:00     mood    8.0
4963  AS14.30 2014-04-02 15:00:00     mood    6.0
4964  AS14.30 2014-04-02 18:00:00     mood    8.0
4965  AS14.30 2014-04-02 21:00:00     mood    8.0
2014-04-03 00:00:00 5            id                time variable  value
4966  AS14.30 2014-04-03 09:00:00     mood    7.0
4967  AS14.30 2014-04-03 12:00:00     mood    8.0
4968  AS14.30 2014-04-03 15:00:00     mood    9.0
4969  AS14.30 2014-04-03 18:00:00     mood    8.0
4970  AS14.30 2014-04-03 21:00:00     mood    8.0
2014-04-04 00:00:00 5            id                time variable  value
4971  AS14.30 2014-04-04 10:00:00     mood    8.0
4972  AS14.30 2014-04-04 12:00:00     mood    8.0
4973  AS14.30 2014-04-04 15:00:00     mood    8.0
4974  AS14.30 2014-04-04 18:00:00     mood    8.0
4975  AS14.30 2014-04-04 21:00:00     mood    7.0
2014-04-05 00:00:00 5            id                time variable  value
4976  AS14.30 2014-04-05 09:00:00     mood    8.0
4977  AS14.30 2014-04-05 12:00:00     mood    8.0
4978  AS14.30 2014-04-05 15:00:00     mood    8.0
4979  AS14.30 2014-04-05 18:00:00     mood    8.0
4980  AS14.30 2014-04-05 21:00:00     mood    8.0
2014-04-06 00:00:00 5            id                time variable  value
4981  AS14.30 2014-04-06 10:00:00     mood    8.0
4982  AS14.30 2014-04-06 12:00:00     mood    8.0
4983  AS14.30 2014-04-06 15:00:00     mood    8.0
4984  AS14.30 2014-04-06 19:00:00     mood    8.0
4985  AS14.30 2014-04-06 21:00:00     mood    8.0
2014-04-07 00:00:00 5            id                time variable  value
4986  AS14.30 2014-04-07 09:00:00     mood    8.0
4987  AS14.30 2014-04-07 12:00:00     mood    7.0
4988  AS14.30 2014-04-07 15:00:00     mood    8.0
4989  AS14.30 2014-04-07 18:00:00     mood    7.0
4990  AS14.30 2014-04-07 21:00:00     mood    8.0
2014-04-08 00:00:00 5            id                time variable  value
4991  AS14.30 2014-04-08 09:00:00     mood    7.0
4992  AS14.30 2014-04-08 12:00:00     mood    8.0
4993  AS14.30 2014-04-08 15:00:00     mood    8.0
4994  AS14.30 2014-04-08 18:00:00     mood    9.0
4995  AS14.30 2014-04-08 21:00:00     mood    7.0
Missing observation for 2014-04-09 00:00:00 between 18 and 21
2014-04-10 00:00:00 5            id                time variable  value
5000  AS14.30 2014-04-10 09:00:00     mood    8.0
5001  AS14.30 2014-04-10 12:00:00     mood    9.0
5002  AS14.30 2014-04-10 15:00:00     mood    8.0
5003  AS14.30 2014-04-10 18:00:00     mood    8.0
5004  AS14.30 2014-04-10 21:00:00     mood    8.0
Missing observation for 2014-04-11 00:00:00 between 12 and 15
Missing observation for 2014-04-11 00:00:00 between 15 and 18
2014-04-12 00:00:00 5            id                time variable  value
5008  AS14.30 2014-04-12 09:00:00     mood    7.0
5009  AS14.30 2014-04-12 13:00:00     mood    9.0
5010  AS14.30 2014-04-12 16:00:00     mood    8.0
5011  AS14.30 2014-04-12 18:00:00     mood    8.0
5012  AS14.30 2014-04-12 21:00:00     mood    7.0
2014-04-13 00:00:00 5            id                time variable  value
5013  AS14.30 2014-04-13 09:00:00     mood    7.0
5014  AS14.30 2014-04-13 12:00:00     mood    7.0
5015  AS14.30 2014-04-13 15:00:00     mood    8.0
5016  AS14.30 2014-04-13 18:00:00     mood    7.0
5017  AS14.30 2014-04-13 21:00:00     mood    7.0
Missing observation for 2014-04-14 00:00:00 between 15 and 18
2014-04-15 00:00:00 5            id                time variable  value
5022  AS14.30 2014-04-15 09:00:00     mood    8.0
5023  AS14.30 2014-04-15 12:00:00     mood    7.0
5024  AS14.30 2014-04-15 15:00:00     mood    8.0
5025  AS14.30 2014-04-15 18:00:00     mood    7.0
5026  AS14.30 2014-04-15 21:00:00     mood    8.0
2014-04-16 00:00:00 5            id                time variable  value
5027  AS14.30 2014-04-16 09:00:00     mood    8.0
5028  AS14.30 2014-04-16 12:00:00     mood    8.0
5029  AS14.30 2014-04-16 15:00:00     mood    8.0
5030  AS14.30 2014-04-16 18:00:00     mood    9.0
5031  AS14.30 2014-04-16 22:00:00     mood    9.0
2014-04-17 00:00:00 5            id                time variable  value
5032  AS14.30 2014-04-17 09:00:00     mood    8.0
5033  AS14.30 2014-04-17 12:00:00     mood    8.0
5034  AS14.30 2014-04-17 15:00:00     mood    8.0
5035  AS14.30 2014-04-17 18:00:00     mood    7.0
5036  AS14.30 2014-04-17 21:00:00     mood    7.0
2014-04-18 00:00:00 5            id                time variable  value
5037  AS14.30 2014-04-18 09:00:00     mood    7.0
5038  AS14.30 2014-04-18 12:00:00     mood    7.0
5039  AS14.30 2014-04-18 15:00:00     mood    7.0
5040  AS14.30 2014-04-18 18:00:00     mood    8.0
5041  AS14.30 2014-04-18 21:00:00     mood    8.0
2014-04-19 00:00:00 5            id                time variable  value
5042  AS14.30 2014-04-19 11:00:00     mood    7.0
5043  AS14.30 2014-04-19 12:00:00     mood    8.0
5044  AS14.30 2014-04-19 15:00:00     mood    8.0
5045  AS14.30 2014-04-19 18:00:00     mood    8.0
5046  AS14.30 2014-04-19 21:00:00     mood    8.0
Missing observation for 2014-04-20 00:00:00 between 12 and 15
2014-04-21 00:00:00 5            id                time variable  value
5051  AS14.30 2014-04-21 09:00:00     mood    8.0
5052  AS14.30 2014-04-21 12:00:00     mood    8.0
5053  AS14.30 2014-04-21 15:00:00     mood    7.0
5054  AS14.30 2014-04-21 18:00:00     mood    8.0
5055  AS14.30 2014-04-21 21:00:00     mood    8.0
2014-04-22 00:00:00 5            id                time variable  value
5056  AS14.30 2014-04-22 10:00:00     mood    7.0
5057  AS14.30 2014-04-22 12:00:00     mood    8.0
5058  AS14.30 2014-04-22 15:00:00     mood    9.0
5059  AS14.30 2014-04-22 18:00:00     mood    8.0
5060  AS14.30 2014-04-22 21:00:00     mood    8.0
2014-04-23 00:00:00 5            id                time variable  value
5061  AS14.30 2014-04-23 09:00:00     mood    7.0
5062  AS14.30 2014-04-23 12:00:00     mood    8.0
5063  AS14.30 2014-04-23 15:00:00     mood    8.0
5064  AS14.30 2014-04-23 18:00:00     mood    8.0
5065  AS14.30 2014-04-23 21:00:00     mood    7.0
2014-04-24 00:00:00 5            id                time variable  value
5066  AS14.30 2014-04-24 09:00:00     mood    8.0
5067  AS14.30 2014-04-24 12:00:00     mood    8.0
5068  AS14.30 2014-04-24 15:00:00     mood    8.0
5069  AS14.30 2014-04-24 20:00:00     mood    8.0
5070  AS14.30 2014-04-24 21:00:00     mood    9.0
Missing observation for 2014-04-25 00:00:00 between 15 and 18
2014-04-26 00:00:00 5            id                time variable  value
5075  AS14.30 2014-04-26 10:00:00     mood    8.0
5076  AS14.30 2014-04-26 12:00:00     mood    8.0
5077  AS14.30 2014-04-26 15:00:00     mood    8.0
5078  AS14.30 2014-04-26 18:00:00     mood    7.0
5079  AS14.30 2014-04-26 21:00:00     mood    8.0
2014-04-27 00:00:00 5            id                time variable  value
5080  AS14.30 2014-04-27 09:00:00     mood    7.0
5081  AS14.30 2014-04-27 13:00:00     mood    8.0
5082  AS14.30 2014-04-27 15:00:00     mood    8.0
5083  AS14.30 2014-04-27 18:00:00     mood    8.0
5084  AS14.30 2014-04-27 21:00:00     mood    8.0
2014-04-28 00:00:00 5            id                time variable  value
5085  AS14.30 2014-04-28 10:00:00     mood    8.0
5086  AS14.30 2014-04-28 12:00:00     mood    8.0
5087  AS14.30 2014-04-28 15:00:00     mood    8.0
5088  AS14.30 2014-04-28 19:00:00     mood    8.0
5089  AS14.30 2014-04-28 21:00:00     mood    8.0
2014-04-29 00:00:00 5            id                time variable  value
5090  AS14.30 2014-04-29 11:00:00     mood    8.0
5091  AS14.30 2014-04-29 12:00:00     mood    8.0
5092  AS14.30 2014-04-29 15:00:00     mood    8.0
5093  AS14.30 2014-04-29 19:00:00     mood    8.0
5094  AS14.30 2014-04-29 21:00:00     mood    8.0
2014-04-30 00:00:00 5            id                time variable  value
5095  AS14.30 2014-04-30 09:00:00     mood    8.0
5096  AS14.30 2014-04-30 12:00:00     mood    8.0
5097  AS14.30 2014-04-30 15:00:00     mood    8.0
5098  AS14.30 2014-04-30 18:00:00     mood    8.0
5099  AS14.30 2014-04-30 21:00:00     mood    7.0
2014-05-01 00:00:00 5            id                time variable  value
5100  AS14.30 2014-05-01 09:00:00     mood    8.0
5101  AS14.30 2014-05-01 12:00:00     mood    8.0
5102  AS14.30 2014-05-01 15:00:00     mood    9.0
5103  AS14.30 2014-05-01 18:00:00     mood    8.0
5104  AS14.30 2014-05-01 21:00:00     mood    8.0
2014-05-02 00:00:00 5            id                time variable  value
5105  AS14.30 2014-05-02 10:00:00     mood    8.0
5106  AS14.30 2014-05-02 12:00:00     mood    8.0
5107  AS14.30 2014-05-02 15:00:00     mood    8.0
5108  AS14.30 2014-05-02 18:00:00     mood    8.0
5109  AS14.30 2014-05-02 21:00:00     mood    8.0
2014-05-03 00:00:00 5            id                time variable  value
5110  AS14.30 2014-05-03 09:00:00     mood    8.0
5111  AS14.30 2014-05-03 12:00:00     mood    7.0
5112  AS14.30 2014-05-03 15:00:00     mood    8.0
5113  AS14.30 2014-05-03 18:00:00     mood    8.0
5114  AS14.30 2014-05-03 22:00:00     mood    8.0
2014-05-04 00:00:00 5            id                time variable  value
5115  AS14.30 2014-05-04 10:00:00     mood    7.0
5116  AS14.30 2014-05-04 12:00:00     mood    8.0
5117  AS14.30 2014-05-04 15:00:00     mood    8.0
5118  AS14.30 2014-05-04 19:00:00     mood    8.0
5119  AS14.30 2014-05-04 21:00:00     mood    8.0
Missing observation for 2014-05-05 00:00:00 between 18 and 21
Missing observation for 2014-05-05 00:00:00 between 21 and 24

In [82]:
df

             id                time variable value
0       AS14.01 2014-02-26 13:00:00     mood   6.0
1       AS14.01 2014-02-26 15:00:00     mood   6.0
2       AS14.01 2014-02-26 18:00:00     mood   6.0
3       AS14.01 2014-02-26 21:00:00     mood   7.0
4       AS14.01 2014-02-27 09:00:00     mood   6.0
...         ...                 ...      ...   ...
376914  AS14.30 2014-04-14 15:00:00     mood   NaN
376915  AS14.30 2014-04-20 12:00:00     mood   NaN
376916  AS14.30 2014-04-25 15:00:00     mood   NaN
376917  AS14.30 2014-05-05 18:00:00     mood   NaN
376918  AS14.30 2014-05-05 21:00:00     mood   NaN

[376919 rows x 4 columns]

22

In [114]:
np.diag(10e7 * np.ones(q+1)))

             id                    time        variable   value
376903  AS14.30 2014-04-06 11:38:32.033  appCat.weather   4.117
376904  AS14.30 2014-04-07 18:13:31.111  appCat.weather  11.039
376905  AS14.30 2014-04-07 18:16:49.107  appCat.weather  60.829
376906  AS14.30 2014-04-07 18:21:04.197  appCat.weather   3.018
376907  AS14.30 2014-04-11 07:51:16.948  appCat.weather   8.032
376908  AS14.30 2014-04-19 11:00:32.747  appCat.weather   3.008
376909  AS14.30 2014-04-26 10:19:07.434  appCat.weather   7.026
376910  AS14.30 2014-04-27 00:44:48.450  appCat.weather  23.033
376911  AS14.32 2014-04-07 18:25:14.036  appCat.weather  22.431
376912  AS14.30 2014-03-20 09:00:00.000            mood     NaN
376913  AS14.30 2014-03-20 12:00:00.000            mood     NaN
376914  AS14.30 2014-03-27 09:00:00.000            mood     NaN
376915  AS14.30 2014-04-09 18:00:00.000            mood     NaN
376916  AS14.30 2014-04-11 12:00:00.000            mood     NaN
376917  AS14.30 2014-04-11 15:00:00.000            mood     NaN
376918  AS14.30 2014-04-14 15:00:00.000            mood     NaN
376919  AS14.30 2014-04-20 12:00:00.000            mood     NaN
376920  AS14.30 2014-04-25 15:00:00.000            mood     NaN
376921  AS14.30 2014-05-05 18:00:00.000            mood     NaN
376922  AS14.30 2014-05-05 21:00:00.000            mood     NaN

             id                time variable value
0       AS14.01 2014-02-26 13:00:00     mood   6.0
1       AS14.01 2014-02-26 15:00:00     mood   6.0
2       AS14.01 2014-02-26 18:00:00     mood   6.0
3       AS14.01 2014-02-26 21:00:00     mood   7.0
4       AS14.01 2014-02-27 09:00:00     mood   6.0
...         ...                 ...      ...   ...
376918  AS14.30 2014-04-14 15:00:00     mood   NaN
376919  AS14.30 2014-04-20 12:00:00     mood   NaN
376920  AS14.30 2014-04-25 15:00:00     mood   NaN
376921  AS14.30 2014-05-05 18:00:00     mood   NaN
376922  AS14.30 2014-05-05 21:00:00     mood   NaN

[376923 rows x 4 columns]

In [29]:
model.params()

intercept    2.938124
ar.L1       -0.054876
ar.L2        0.630987
ma.L1        0.443589
ma.L2       -0.447554
sigma2       0.198129
dtype: float64