In [122]:
import configparser
import os
from joblib import dump, load
import json
from tqdm import tqdm
from helpers.helper_functions import *
from helpers.helper_classes import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels as sm
import numpy as np
import pmdarima as pm
from statsmodels.tsa.arima.model import ARIMA

pd.set_option('display.max_rows', 500)

# Read config.ini file
config = configparser.ConfigParser()
config.read('src/config.ini')
# os.chdir(config['PATH']['ROOT_DIR'])

# # Load data
df = pd.read_csv(config['PATH']['DATA_DIR'] + '/dataset_mood_smartphone.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

# time to datetime
df['time'] = pd.to_datetime(df['time'])

In [123]:
# TODO: 
# DONE: Forward fill valence and arousal
# DONE: Remove appCat.builtin negative values
# DONE: Remove appCat outliers
# Impute valence, arousal and mood
# Impute long term missing values with mean instead of ffill (for valence and arousal)
# Aggregate to daily mood
# Decide on aggregation method for each variable

In [124]:
# # Forward fill valence and arousal
# # Iterate over people
# for person in tqdm(df['id'].unique()):
#     # Forward fill valence and arousal
#     idx_arousal = np.logical_and(df['id'] == person, df['variable'] == 'circumplex.arousal')
#     df.loc[idx_arousal] = df.loc[idx_arousal].fillna(method='ffill')
df

             id                    time        variable   value
0       AS14.01 2014-02-26 13:00:00.000            mood   6.000
1       AS14.01 2014-02-26 15:00:00.000            mood   6.000
2       AS14.01 2014-02-26 18:00:00.000            mood   6.000
3       AS14.01 2014-02-26 21:00:00.000            mood   7.000
4       AS14.01 2014-02-27 09:00:00.000            mood   6.000
...         ...                     ...             ...     ...
376907  AS14.30 2014-04-11 07:51:16.948  appCat.weather   8.032
376908  AS14.30 2014-04-19 11:00:32.747  appCat.weather   3.008
376909  AS14.30 2014-04-26 10:19:07.434  appCat.weather   7.026
376910  AS14.30 2014-04-27 00:44:48.450  appCat.weather  23.033
376911  AS14.32 2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 4 columns]

## Extreme values appCat variables
There are many outliers in the appCat variables, this is not ideal for numerical stability. We will one hot encode these outliers per variable and remove the outlier from the original observation

In [125]:
#  We will one hot encode these outliers per variable and remove the outlier from the original observation
#  Moreover we will remove all negative values

all_vars = df['variable'].unique()
appVars = [var for var in all_vars if 'appCat' in var]
appVars

for var in appVars:
    df_var_cur = df[df['variable'] == var]
    # Iterate over observations

    # Get 95th percentile
    perc98 = np.percentile(df_var_cur['value'], 98)

    # Get all idx where value is smaller than 0
    idx = df_var_cur[df_var_cur['value'] < 0].index
    df.drop(idx, axis=0, inplace=True)

    # Get all idx where value is larger than 95th percentile
    idx_98 = df_var_cur[df_var_cur['value'] > perc98].index

    # Change variable name to var_outlier
    df.loc[idx_98, 'variable'] = var + '_outlier'
    df.loc[idx_98, 'value'] = 1

In [126]:
mood_vars = ['mood', 'circumplex.valence', 'circumplex.arousal']	

idx_mood = np.logical_and(df['id'] == "AS14.28" , df['variable'] == 'mood')

df_mood = df[idx_mood].copy()['value']
df_mood
print(df_mood)

# Iterate over people
for person in tqdm(df['id'].unique()[:3]):
    # Dataframe for mood of current person
    idx_mood = np.logical_and(df['id'] == person , df['variable'] == 'mood')
    df_mood = df[idx_mood].copy()['value']
    model = pm.auto_arima(df_mood, suppress_warnings=True, seasonal=False, stepwise=True, d = 0, stationary = True)

    # # Extract the best (p, d, q) orders
    p, d, q = model.order
    # print(f"Person: {person}")
    # print(f"Estimated ARIMA orders: p={p}, d={d}, q={q}")

    # Fit the ARIMA model using the estimated orders
    arima_model = ARIMA(df_mood, order=(p, d, q))
    arima_model_fit = arima_model.fit()

    print("ARIMA model summary:")
    print(arima_model_fit.summary())

4543     7.0
4544     6.0
4545     8.0
4546     8.0
4547     7.0
4548     7.0
4549     6.0
4550     5.0
4551     9.0
4552     6.0
4553     8.0
4554     8.0
4555    10.0
4556     9.0
4557     6.0
4558     7.0
4559     3.0
4560     6.0
4561     6.0
4562     8.0
4563     7.0
4564     7.0
4565     8.0
4566     8.0
4567     8.0
4568     7.0
4569     6.0
4570     8.0
4571     7.0
4572     8.0
4573     9.0
4574     8.0
4575     7.0
4576     8.0
4577     8.0
4578     8.0
4579     7.0
4580     7.0
4581     8.0
4582     9.0
4583     7.0
4584     7.0
4585     6.0
4586     6.0
4587     9.0
4588     7.0
4589     6.0
4590     7.0
4591     7.0
4592     9.0
4593     8.0
4594     7.0
4595     9.0
4596     8.0
4597     8.0
4598     7.0
4599     7.0
4600     7.0
4601     7.0
4602     7.0
4603     8.0
4604     5.0
4605     7.0
4606     7.0
4607     8.0
4608     7.0
4609     6.0
4610     7.0
4611     5.0
4612     8.0
4613     8.0
4614     8.0
4615     7.0
4616     6.0
4617     4.0
4618     6.0
4619     8.0
4620     9.0
4621     8.0
4622     7.0
4623     7.0
4624     7.0
4625     6.0
4626     7.0
4627     4.0
4628     5.0
4629     7.0
4630     5.0
4631     8.0
4632     7.0
4633     8.0
4634     7.0
4635     9.0
4636     7.0
4637     8.0
4638     7.0
4639     8.0
4640     8.0
4641     9.0
4642     8.0
4643     8.0
4644     7.0
4645     7.0
4646     7.0
4647     8.0
4648     7.0
4649     6.0
4650     6.0
4651     8.0
4652     9.0
4653     7.0
4654     8.0
4655     8.0
4656     8.0
4657     7.0
4658     7.0
4659     7.0
4660     6.0
4661     8.0
4662     8.0
4663     8.0
4664     6.0
4665     6.0
4666     9.0
4667     8.0
4668     7.0
4669     8.0
4670     7.0
4671     7.0
4672     6.0
4673     7.0
4674     8.0
4675     7.0
4676     6.0
4677     5.0
4678     7.0
4679     6.0
4680     6.0
4681     7.0
4682     7.0
4683     6.0
4684     6.0
4685     6.0
4686     6.0
4687     7.0
4688     7.0
4689     8.0
4690     7.0
4691     6.0
4692     8.0
4693     8.0
4694     8.0
4695     8.0
4696     6.0
4697     6.0
4698     6.0
4699     8.0
4700     7.0
4701     7.0
4702     7.0
4703     7.0
4704     8.0
4705     7.0
4706     5.0
4707     6.0
4708     6.0
4709     6.0
4710     7.0
4711     6.0
Name: value, dtype: float64

 33%|███▎      | 1/3 [00:02<00:04,  2.14s/it]

ARIMA model summary:
                               SARIMAX Results
==============================================================================
Dep. Variable:                  value   No. Observations:                  222
Model:                 ARIMA(1, 0, 1)   Log Likelihood                -247.092
Date:                Wed, 12 Apr 2023   AIC                            502.184
Time:                        19:10:32   BIC                            515.795
Sample:                             0   HQIC                           507.679
                                - 222
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.0702      0.257     27.515      0.000       6.567       7.574
ar.L1          0.9551      0.034     28.229      0.000       0.889       1.021
ma.L1         -0.7744      0.058    -13.341      0.000      -0.888      -0.661
sigma2         0.5407      0.048     11.345      0.000       0.447       0.634
===================================================================================
Ljung-Box (L1) (Q):                   0.81   Jarque-Bera (JB):                24.17
Prob(Q):                              0.37   Prob(JB):                         0.00
Heteroskedasticity (H):               0.53   Skew:                            -0.62
Prob(H) (two-sided):                  0.01   Kurtosis:                         4.04
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

c:\Users\caspa\OneDrive - Vrije Universiteit Amsterdam\VU Master\data-mining-techniques-vu\windows\data-mining-techniques-vu\.venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\caspa\OneDrive - Vrije Universiteit Amsterdam\VU Master\data-mining-techniques-vu\windows\data-mining-techniques-vu\.venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\caspa\OneDrive - Vrije Universiteit Amsterdam\VU Master\data-mining-techniques-vu\windows\data-mining-techniques-vu\.venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
 67%|██████▋   | 2/3 [00:04<00:02,  2.08s/it]

ARIMA model summary:
                               SARIMAX Results
==============================================================================
Dep. Variable:                  value   No. Observations:                  159
Model:                 ARIMA(0, 0, 3)   Log Likelihood                -253.972
Date:                Wed, 12 Apr 2023   AIC                            517.945
Time:                        19:10:34   BIC                            533.290
Sample:                             0   HQIC                           524.176
                                - 159
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.7786      0.152     44.588      0.000       6.481       7.077
ma.L1          0.1069      0.081      1.312      0.189      -0.053       0.267
ma.L2          0.2584      0.083      3.108      0.002       0.095       0.421
ma.L3          0.1517      0.088      1.715      0.086      -0.022       0.325
sigma2         1.4269      0.184      7.744      0.000       1.066       1.788
===================================================================================
Ljung-Box (L1) (Q):                   0.01   Jarque-Bera (JB):                 4.69
Prob(Q):                              0.93   Prob(JB):                         0.10
Heteroskedasticity (H):               1.32   Skew:                            -0.41
Prob(H) (two-sided):                  0.32   Kurtosis:                         2.80
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

c:\Users\caspa\OneDrive - Vrije Universiteit Amsterdam\VU Master\data-mining-techniques-vu\windows\data-mining-techniques-vu\.venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\caspa\OneDrive - Vrije Universiteit Amsterdam\VU Master\data-mining-techniques-vu\windows\data-mining-techniques-vu\.venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\caspa\OneDrive - Vrije Universiteit Amsterdam\VU Master\data-mining-techniques-vu\windows\data-mining-techniques-vu\.venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
100%|██████████| 3/3 [00:07<00:00,  2.44s/it]

ARIMA model summary:
                               SARIMAX Results
==============================================================================
Dep. Variable:                  value   No. Observations:                  221
Model:                 ARIMA(1, 0, 1)   Log Likelihood                -223.883
Date:                Wed, 12 Apr 2023   AIC                            455.766
Time:                        19:10:37   BIC                            469.358
Sample:                             0   HQIC                           461.254
                                - 221
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.6277      0.156     48.956      0.000       7.322       7.933
ar.L1          0.9784      0.024     40.110      0.000       0.931       1.026
ma.L1         -0.9163      0.049    -18.529      0.000      -1.013      -0.819
sigma2         0.4432      0.046      9.591      0.000       0.353       0.534
===================================================================================
Ljung-Box (L1) (Q):                   1.26   Jarque-Bera (JB):                 4.88
Prob(Q):                              0.26   Prob(JB):                         0.09
Heteroskedasticity (H):               0.54   Skew:                            -0.34
Prob(H) (two-sided):                  0.01   Kurtosis:                         2.72
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [49]:
# Get all variables
variables = df['variable'].unique()

# Iterate over variables
for variable in variables:
    # Get the data for this variable
    df_variable = df[df['variable'] == variable]

    # Get 95th percentile
    percentile_95 = np.percentile(df_variable['value'], 95)

    # Describe value column for variable
    print(f"Variable {variable}:")
    print(df_variable['value'].describe())

Variable mood:
count    5641.000000
mean        6.992555
std         1.032769
min         1.000000
25%         7.000000
50%         7.000000
75%         8.000000
max        10.000000
Name: value, dtype: float64
Variable circumplex.arousal:
count    5597.000000
mean       -0.098624
std         1.051868
min        -2.000000
25%        -1.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: value, dtype: float64
Variable circumplex.valence:
count    5487.000000
mean        0.687808
std         0.671298
min        -2.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: value, dtype: float64
Variable activity:
count    22965.000000
mean         0.115958
std          0.186946
min          0.000000
25%          0.000000
50%          0.021739
75%          0.158333
max          1.000000
Name: value, dtype: float64
Variable screen:
count    96578.000000
mean        75.335206
std        253.822497
min          0.035000
25%          5.322250
50%         20.044500
75%         62.540250
max       9867.007000
Name: value, dtype: float64
Variable call:
count    5239.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable sms:
count    1798.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable appCat.builtin:
count    89459.00000
mean         8.40431
std         11.80418
min          0.00100
25%          2.01600
50%          4.02400
75%          9.44100
max         80.86100
Name: value, dtype: float64
Variable appCat.builtin_outlier:
count    1826.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable appCat.communication:
count    72790.000000
mean        32.566484
std         42.075934
min          0.006000
25%          5.199000
50%         15.493500
75%         42.832750
max        258.651000
Name: value, dtype: float64
Variable appCat.communication_outlier:
count    1486.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: value, dtype: float64
Variable appCat.entertainment:
count    26581.000000
mean        20.471202
std         46.375851
min          0.001000
25%          1.293000
50%          3.135000
75%         13.266000
max        355.167000
Name: value, dtype: float64
Variable appCat.entertainment_outlier:
count    543.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.finance:
count    920.000000
mean      17.584509
std       25.061586
min        0.131000
25%        4.042500
50%        8.022000
75%       18.693000
max      148.776000
Name: value, dtype: float64
Variable appCat.finance_outlier:
count    19.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.game:
count    796.000000
mean      94.713244
std      136.287453
min        1.003000
25%       14.059750
50%       41.201500
75%      109.156000
max      824.282000
Name: value, dtype: float64
Variable appCat.game_outlier:
count    17.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.office:
count    5529.000000
mean        8.968933
std        15.526442
min         0.003000
25%         2.003000
50%         3.051000
75%         7.169000
max       110.961000
Name: value, dtype: float64
Variable appCat.office_outlier:
count    113.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.other:
count    7497.000000
mean       16.086004
std        20.175202
min         0.014000
25%         7.017000
50%         9.533000
75%        16.058000
max       158.588000
Name: value, dtype: float64
Variable appCat.other_outlier:
count    153.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.social:
count    18762.000000
mean        56.047439
std         75.102117
min          0.094000
25%          8.406750
50%         27.302000
75%         70.951000
max        460.126000
Name: value, dtype: float64
Variable appCat.social_outlier:
count    383.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: value, dtype: float64
Variable appCat.travel:
count    2789.000000
mean       31.240602
std        35.691672
min         0.080000
25%         5.045000
50%        17.126000
75%        45.155000
max       212.746000
Name: value, dtype: float64
Variable appCat.travel_outlier:
count    57.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.unknown:
count    920.000000
mean      32.568970
std       46.818912
min        0.111000
25%        5.014500
50%       16.135000
75%       41.163250
max      358.674000
Name: value, dtype: float64
Variable appCat.unknown_outlier:
count    19.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.utilities:
count    2437.000000
mean       13.189101
std        14.769960
min         0.246000
25%         3.103000
50%         7.610000
75%        18.133000
max        87.597000
Name: value, dtype: float64
Variable appCat.utilities_outlier:
count    50.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: value, dtype: float64
Variable appCat.weather:
count    249.000000
mean      17.933655
std       12.766343
min        1.003000
25%        8.230000
50%       15.095000
75%       24.278000
max       54.194000
Name: value, dtype: float64
Variable appCat.weather_outlier:
count    6.0
mean     1.0
std      0.0
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0
Name: value, dtype: float64

In [92]:
df.append(df_variable)
# print(df.loc[idx_arousal])

AttributeError: 'DataFrame' object has no attribute 'append'

In [120]:
idx_mood = np.logical_and(df['id'] == "AS14.30" , df['variable'] == 'mood')
df_mood = df[idx_mood].copy()
df_mood

# Time sections

# Get first date
first_date = df_mood['time'].min().date()

# Last date
last_date = df_mood['time'].max().date()

# Iterate over dates by day
for date in pd.date_range(start=first_date, end=last_date, freq='D'):
    # Get all rows for this date
    idx_date = df_mood['time'].dt.date == date.date()
    df_date = df_mood[idx_date].copy()

    if len(df_date) == 5:
        print(date, len(df_date), df_date)
        continue

    # check for observation between 9.00 and 12.00
    hour_sets = [[9,12], [12,15], [15,18], [18,21], [21,24]]

    for hour_set in hour_sets:
        idx_cur = np.logical_and(df_date['time'].dt.hour >= hour_set[0], df_date['time'].dt.hour < hour_set[1])
        if len(df_date[idx_cur]) == 0:
            print(f"Missing observation for {date} between {hour_set[0]} and {hour_set[1]}")
            # Create new row
            new_row = df_date.iloc[0].copy()
            new_row['time'] = date.replace(hour=hour_set[0])
            new_row['value'] = np.nan

            df = pd.concat([df, pd.DataFrame(new_row).T], ignore_index=True)
            df_date = pd.concat([df_date, pd.DataFrame(new_row).T], ignore_index=True)

2014-03-20 00:00:00 5              id                time variable value
4899    AS14.30 2014-03-20 15:00:00     mood   8.0
4900    AS14.30 2014-03-20 18:00:00     mood   7.0
4901    AS14.30 2014-03-20 21:00:00     mood   6.0
376912  AS14.30 2014-03-20 09:00:00     mood   NaN
376913  AS14.30 2014-03-20 12:00:00     mood   NaN
2014-03-21 00:00:00 5            id                time variable value
4902  AS14.30 2014-03-21 09:00:00     mood   7.0
4903  AS14.30 2014-03-21 12:00:00     mood   8.0
4904  AS14.30 2014-03-21 15:00:00     mood   7.0
4905  AS14.30 2014-03-21 18:00:00     mood   9.0
4906  AS14.30 2014-03-21 21:00:00     mood   8.0
2014-03-22 00:00:00 5            id                time variable value
4907  AS14.30 2014-03-22 09:00:00     mood   8.0
4908  AS14.30 2014-03-22 12:00:00     mood   8.0
4909  AS14.30 2014-03-22 15:00:00     mood   7.0
4910  AS14.30 2014-03-22 18:00:00     mood   8.0
4911  AS14.30 2014-03-22 21:00:00     mood   7.0
2014-03-23 00:00:00 5            id                time variable value
4912  AS14.30 2014-03-23 09:00:00     mood   8.0
4913  AS14.30 2014-03-23 12:00:00     mood   8.0
4914  AS14.30 2014-03-23 15:00:00     mood   8.0
4915  AS14.30 2014-03-23 18:00:00     mood   7.0
4916  AS14.30 2014-03-23 21:00:00     mood   8.0
2014-03-24 00:00:00 5            id                time variable value
4917  AS14.30 2014-03-24 09:00:00     mood   8.0
4918  AS14.30 2014-03-24 12:00:00     mood   8.0
4919  AS14.30 2014-03-24 15:00:00     mood   7.0
4920  AS14.30 2014-03-24 19:00:00     mood   8.0
4921  AS14.30 2014-03-24 21:00:00     mood   8.0
2014-03-25 00:00:00 5            id                time variable value
4922  AS14.30 2014-03-25 09:00:00     mood   8.0
4923  AS14.30 2014-03-25 12:00:00     mood   8.0
4924  AS14.30 2014-03-25 15:00:00     mood   8.0
4925  AS14.30 2014-03-25 18:00:00     mood   8.0
4926  AS14.30 2014-03-25 21:00:00     mood   8.0
2014-03-26 00:00:00 5            id                time variable value
4927  AS14.30 2014-03-26 09:00:00     mood   8.0
4928  AS14.30 2014-03-26 12:00:00     mood   6.0
4929  AS14.30 2014-03-26 16:00:00     mood   8.0
4930  AS14.30 2014-03-26 18:00:00     mood   8.0
4931  AS14.30 2014-03-26 21:00:00     mood   4.0
2014-03-27 00:00:00 5              id                time variable value
4932    AS14.30 2014-03-27 12:00:00     mood   8.0
4933    AS14.30 2014-03-27 15:00:00     mood   8.0
4934    AS14.30 2014-03-27 18:00:00     mood   8.0
4935    AS14.30 2014-03-27 21:00:00     mood   7.0
376914  AS14.30 2014-03-27 09:00:00     mood   NaN
2014-03-28 00:00:00 5            id                time variable value
4936  AS14.30 2014-03-28 09:00:00     mood   7.0
4937  AS14.30 2014-03-28 12:00:00     mood   7.0
4938  AS14.30 2014-03-28 15:00:00     mood   7.0
4939  AS14.30 2014-03-28 18:00:00     mood   9.0
4940  AS14.30 2014-03-28 21:00:00     mood   9.0
2014-03-29 00:00:00 5            id                time variable value
4941  AS14.30 2014-03-29 09:00:00     mood   8.0
4942  AS14.30 2014-03-29 12:00:00     mood   9.0
4943  AS14.30 2014-03-29 15:00:00     mood   8.0
4944  AS14.30 2014-03-29 20:00:00     mood   9.0
4945  AS14.30 2014-03-29 21:00:00     mood   8.0
2014-03-30 00:00:00 5            id                time variable value
4946  AS14.30 2014-03-30 09:00:00     mood   8.0
4947  AS14.30 2014-03-30 12:00:00     mood   8.0
4948  AS14.30 2014-03-30 15:00:00     mood   8.0
4949  AS14.30 2014-03-30 18:00:00     mood   7.0
4950  AS14.30 2014-03-30 21:00:00     mood   7.0
2014-03-31 00:00:00 5            id                time variable value
4951  AS14.30 2014-03-31 09:00:00     mood   7.0
4952  AS14.30 2014-03-31 12:00:00     mood   7.0
4953  AS14.30 2014-03-31 15:00:00     mood   8.0
4954  AS14.30 2014-03-31 18:00:00     mood   8.0
4955  AS14.30 2014-03-31 21:00:00     mood   8.0
2014-04-01 00:00:00 5            id                time variable value
4956  AS14.30 2014-04-01 09:00:00     mood   8.0
4957  AS14.30 2014-04-01 12:00:00     mood   8.0
4958  AS14.30 2014-04-01 15:00:00     mood   8.0
4959  AS14.30 2014-04-01 18:00:00     mood   8.0
4960  AS14.30 2014-04-01 21:00:00     mood   7.0
2014-04-02 00:00:00 5            id                time variable value
4961  AS14.30 2014-04-02 09:00:00     mood   8.0
4962  AS14.30 2014-04-02 12:00:00     mood   8.0
4963  AS14.30 2014-04-02 15:00:00     mood   6.0
4964  AS14.30 2014-04-02 18:00:00     mood   8.0
4965  AS14.30 2014-04-02 21:00:00     mood   8.0
2014-04-03 00:00:00 5            id                time variable value
4966  AS14.30 2014-04-03 09:00:00     mood   7.0
4967  AS14.30 2014-04-03 12:00:00     mood   8.0
4968  AS14.30 2014-04-03 15:00:00     mood   9.0
4969  AS14.30 2014-04-03 18:00:00     mood   8.0
4970  AS14.30 2014-04-03 21:00:00     mood   8.0
2014-04-04 00:00:00 5            id                time variable value
4971  AS14.30 2014-04-04 10:00:00     mood   8.0
4972  AS14.30 2014-04-04 12:00:00     mood   8.0
4973  AS14.30 2014-04-04 15:00:00     mood   8.0
4974  AS14.30 2014-04-04 18:00:00     mood   8.0
4975  AS14.30 2014-04-04 21:00:00     mood   7.0
2014-04-05 00:00:00 5            id                time variable value
4976  AS14.30 2014-04-05 09:00:00     mood   8.0
4977  AS14.30 2014-04-05 12:00:00     mood   8.0
4978  AS14.30 2014-04-05 15:00:00     mood   8.0
4979  AS14.30 2014-04-05 18:00:00     mood   8.0
4980  AS14.30 2014-04-05 21:00:00     mood   8.0
2014-04-06 00:00:00 5            id                time variable value
4981  AS14.30 2014-04-06 10:00:00     mood   8.0
4982  AS14.30 2014-04-06 12:00:00     mood   8.0
4983  AS14.30 2014-04-06 15:00:00     mood   8.0
4984  AS14.30 2014-04-06 19:00:00     mood   8.0
4985  AS14.30 2014-04-06 21:00:00     mood   8.0
2014-04-07 00:00:00 5            id                time variable value
4986  AS14.30 2014-04-07 09:00:00     mood   8.0
4987  AS14.30 2014-04-07 12:00:00     mood   7.0
4988  AS14.30 2014-04-07 15:00:00     mood   8.0
4989  AS14.30 2014-04-07 18:00:00     mood   7.0
4990  AS14.30 2014-04-07 21:00:00     mood   8.0
2014-04-08 00:00:00 5            id                time variable value
4991  AS14.30 2014-04-08 09:00:00     mood   7.0
4992  AS14.30 2014-04-08 12:00:00     mood   8.0
4993  AS14.30 2014-04-08 15:00:00     mood   8.0
4994  AS14.30 2014-04-08 18:00:00     mood   9.0
4995  AS14.30 2014-04-08 21:00:00     mood   7.0
2014-04-09 00:00:00 5              id                time variable value
4996    AS14.30 2014-04-09 09:00:00     mood   7.0
4997    AS14.30 2014-04-09 12:00:00     mood   8.0
4998    AS14.30 2014-04-09 15:00:00     mood   8.0
4999    AS14.30 2014-04-09 21:00:00     mood   8.0
376915  AS14.30 2014-04-09 18:00:00     mood   NaN
2014-04-10 00:00:00 5            id                time variable value
5000  AS14.30 2014-04-10 09:00:00     mood   8.0
5001  AS14.30 2014-04-10 12:00:00     mood   9.0
5002  AS14.30 2014-04-10 15:00:00     mood   8.0
5003  AS14.30 2014-04-10 18:00:00     mood   8.0
5004  AS14.30 2014-04-10 21:00:00     mood   8.0
2014-04-11 00:00:00 5              id                time variable value
5005    AS14.30 2014-04-11 10:00:00     mood   9.0
5006    AS14.30 2014-04-11 18:00:00     mood   7.0
5007    AS14.30 2014-04-11 21:00:00     mood   7.0
376916  AS14.30 2014-04-11 12:00:00     mood   NaN
376917  AS14.30 2014-04-11 15:00:00     mood   NaN
2014-04-12 00:00:00 5            id                time variable value
5008  AS14.30 2014-04-12 09:00:00     mood   7.0
5009  AS14.30 2014-04-12 13:00:00     mood   9.0
5010  AS14.30 2014-04-12 16:00:00     mood   8.0
5011  AS14.30 2014-04-12 18:00:00     mood   8.0
5012  AS14.30 2014-04-12 21:00:00     mood   7.0
2014-04-13 00:00:00 5            id                time variable value
5013  AS14.30 2014-04-13 09:00:00     mood   7.0
5014  AS14.30 2014-04-13 12:00:00     mood   7.0
5015  AS14.30 2014-04-13 15:00:00     mood   8.0
5016  AS14.30 2014-04-13 18:00:00     mood   7.0
5017  AS14.30 2014-04-13 21:00:00     mood   7.0
2014-04-14 00:00:00 5              id                time variable value
5018    AS14.30 2014-04-14 09:00:00     mood   7.0
5019    AS14.30 2014-04-14 12:00:00     mood   9.0
5020    AS14.30 2014-04-14 18:00:00     mood   7.0
5021    AS14.30 2014-04-14 21:00:00     mood   8.0
376918  AS14.30 2014-04-14 15:00:00     mood   NaN
2014-04-15 00:00:00 5            id                time variable value
5022  AS14.30 2014-04-15 09:00:00     mood   8.0
5023  AS14.30 2014-04-15 12:00:00     mood   7.0
5024  AS14.30 2014-04-15 15:00:00     mood   8.0
5025  AS14.30 2014-04-15 18:00:00     mood   7.0
5026  AS14.30 2014-04-15 21:00:00     mood   8.0
2014-04-16 00:00:00 5            id                time variable value
5027  AS14.30 2014-04-16 09:00:00     mood   8.0
5028  AS14.30 2014-04-16 12:00:00     mood   8.0
5029  AS14.30 2014-04-16 15:00:00     mood   8.0
5030  AS14.30 2014-04-16 18:00:00     mood   9.0
5031  AS14.30 2014-04-16 22:00:00     mood   9.0
2014-04-17 00:00:00 5            id                time variable value
5032  AS14.30 2014-04-17 09:00:00     mood   8.0
5033  AS14.30 2014-04-17 12:00:00     mood   8.0
5034  AS14.30 2014-04-17 15:00:00     mood   8.0
5035  AS14.30 2014-04-17 18:00:00     mood   7.0
5036  AS14.30 2014-04-17 21:00:00     mood   7.0
2014-04-18 00:00:00 5            id                time variable value
5037  AS14.30 2014-04-18 09:00:00     mood   7.0
5038  AS14.30 2014-04-18 12:00:00     mood   7.0
5039  AS14.30 2014-04-18 15:00:00     mood   7.0
5040  AS14.30 2014-04-18 18:00:00     mood   8.0
5041  AS14.30 2014-04-18 21:00:00     mood   8.0
2014-04-19 00:00:00 5            id                time variable value
5042  AS14.30 2014-04-19 11:00:00     mood   7.0
5043  AS14.30 2014-04-19 12:00:00     mood   8.0
5044  AS14.30 2014-04-19 15:00:00     mood   8.0
5045  AS14.30 2014-04-19 18:00:00     mood   8.0
5046  AS14.30 2014-04-19 21:00:00     mood   8.0
2014-04-20 00:00:00 5              id                time variable value
5047    AS14.30 2014-04-20 09:00:00     mood   7.0
5048    AS14.30 2014-04-20 16:00:00     mood   8.0
5049    AS14.30 2014-04-20 18:00:00     mood   8.0
5050    AS14.30 2014-04-20 21:00:00     mood   8.0
376919  AS14.30 2014-04-20 12:00:00     mood   NaN
2014-04-21 00:00:00 5            id                time variable value
5051  AS14.30 2014-04-21 09:00:00     mood   8.0
5052  AS14.30 2014-04-21 12:00:00     mood   8.0
5053  AS14.30 2014-04-21 15:00:00     mood   7.0
5054  AS14.30 2014-04-21 18:00:00     mood   8.0
5055  AS14.30 2014-04-21 21:00:00     mood   8.0
2014-04-22 00:00:00 5            id                time variable value
5056  AS14.30 2014-04-22 10:00:00     mood   7.0
5057  AS14.30 2014-04-22 12:00:00     mood   8.0
5058  AS14.30 2014-04-22 15:00:00     mood   9.0
5059  AS14.30 2014-04-22 18:00:00     mood   8.0
5060  AS14.30 2014-04-22 21:00:00     mood   8.0
2014-04-23 00:00:00 5            id                time variable value
5061  AS14.30 2014-04-23 09:00:00     mood   7.0
5062  AS14.30 2014-04-23 12:00:00     mood   8.0
5063  AS14.30 2014-04-23 15:00:00     mood   8.0
5064  AS14.30 2014-04-23 18:00:00     mood   8.0
5065  AS14.30 2014-04-23 21:00:00     mood   7.0
2014-04-24 00:00:00 5            id                time variable value
5066  AS14.30 2014-04-24 09:00:00     mood   8.0
5067  AS14.30 2014-04-24 12:00:00     mood   8.0
5068  AS14.30 2014-04-24 15:00:00     mood   8.0
5069  AS14.30 2014-04-24 20:00:00     mood   8.0
5070  AS14.30 2014-04-24 21:00:00     mood   9.0
2014-04-25 00:00:00 5              id                time variable value
5071    AS14.30 2014-04-25 09:00:00     mood   8.0
5072    AS14.30 2014-04-25 12:00:00     mood   8.0
5073    AS14.30 2014-04-25 18:00:00     mood   8.0
5074    AS14.30 2014-04-25 21:00:00     mood   6.0
376920  AS14.30 2014-04-25 15:00:00     mood   NaN
2014-04-26 00:00:00 5            id                time variable value
5075  AS14.30 2014-04-26 10:00:00     mood   8.0
5076  AS14.30 2014-04-26 12:00:00     mood   8.0
5077  AS14.30 2014-04-26 15:00:00     mood   8.0
5078  AS14.30 2014-04-26 18:00:00     mood   7.0
5079  AS14.30 2014-04-26 21:00:00     mood   8.0
2014-04-27 00:00:00 5            id                time variable value
5080  AS14.30 2014-04-27 09:00:00     mood   7.0
5081  AS14.30 2014-04-27 13:00:00     mood   8.0
5082  AS14.30 2014-04-27 15:00:00     mood   8.0
5083  AS14.30 2014-04-27 18:00:00     mood   8.0
5084  AS14.30 2014-04-27 21:00:00     mood   8.0
2014-04-28 00:00:00 5            id                time variable value
5085  AS14.30 2014-04-28 10:00:00     mood   8.0
5086  AS14.30 2014-04-28 12:00:00     mood   8.0
5087  AS14.30 2014-04-28 15:00:00     mood   8.0
5088  AS14.30 2014-04-28 19:00:00     mood   8.0
5089  AS14.30 2014-04-28 21:00:00     mood   8.0
2014-04-29 00:00:00 5            id                time variable value
5090  AS14.30 2014-04-29 11:00:00     mood   8.0
5091  AS14.30 2014-04-29 12:00:00     mood   8.0
5092  AS14.30 2014-04-29 15:00:00     mood   8.0
5093  AS14.30 2014-04-29 19:00:00     mood   8.0
5094  AS14.30 2014-04-29 21:00:00     mood   8.0
2014-04-30 00:00:00 5            id                time variable value
5095  AS14.30 2014-04-30 09:00:00     mood   8.0
5096  AS14.30 2014-04-30 12:00:00     mood   8.0
5097  AS14.30 2014-04-30 15:00:00     mood   8.0
5098  AS14.30 2014-04-30 18:00:00     mood   8.0
5099  AS14.30 2014-04-30 21:00:00     mood   7.0
2014-05-01 00:00:00 5            id                time variable value
5100  AS14.30 2014-05-01 09:00:00     mood   8.0
5101  AS14.30 2014-05-01 12:00:00     mood   8.0
5102  AS14.30 2014-05-01 15:00:00     mood   9.0
5103  AS14.30 2014-05-01 18:00:00     mood   8.0
5104  AS14.30 2014-05-01 21:00:00     mood   8.0
2014-05-02 00:00:00 5            id                time variable value
5105  AS14.30 2014-05-02 10:00:00     mood   8.0
5106  AS14.30 2014-05-02 12:00:00     mood   8.0
5107  AS14.30 2014-05-02 15:00:00     mood   8.0
5108  AS14.30 2014-05-02 18:00:00     mood   8.0
5109  AS14.30 2014-05-02 21:00:00     mood   8.0
2014-05-03 00:00:00 5            id                time variable value
5110  AS14.30 2014-05-03 09:00:00     mood   8.0
5111  AS14.30 2014-05-03 12:00:00     mood   7.0
5112  AS14.30 2014-05-03 15:00:00     mood   8.0
5113  AS14.30 2014-05-03 18:00:00     mood   8.0
5114  AS14.30 2014-05-03 22:00:00     mood   8.0
2014-05-04 00:00:00 5            id                time variable value
5115  AS14.30 2014-05-04 10:00:00     mood   7.0
5116  AS14.30 2014-05-04 12:00:00     mood   8.0
5117  AS14.30 2014-05-04 15:00:00     mood   8.0
5118  AS14.30 2014-05-04 19:00:00     mood   8.0
5119  AS14.30 2014-05-04 21:00:00     mood   8.0
2014-05-05 00:00:00 5              id                time variable value
5120    AS14.30 2014-05-05 09:00:00     mood   8.0
5121    AS14.30 2014-05-05 13:00:00     mood   8.0
5122    AS14.30 2014-05-05 15:00:00     mood   8.0
376921  AS14.30 2014-05-05 18:00:00     mood   NaN
376922  AS14.30 2014-05-05 21:00:00     mood   NaN

In [118]:
df

             id                time variable value
0       AS14.01 2014-02-26 13:00:00     mood   6.0
1       AS14.01 2014-02-26 15:00:00     mood   6.0
2       AS14.01 2014-02-26 18:00:00     mood   6.0
3       AS14.01 2014-02-26 21:00:00     mood   7.0
4       AS14.01 2014-02-27 09:00:00     mood   6.0
...         ...                 ...      ...   ...
376918  AS14.30 2014-04-14 15:00:00     mood   NaN
376919  AS14.30 2014-04-20 12:00:00     mood   NaN
376920  AS14.30 2014-04-25 15:00:00     mood   NaN
376921  AS14.30 2014-05-05 18:00:00     mood   NaN
376922  AS14.30 2014-05-05 21:00:00     mood   NaN

[376923 rows x 4 columns]

In [88]:
KF = KalmanFilter(y=df['Nile'], 
                    a_init=np.zeros(np.maximum()).reshape(1,1), 
                    P_init=np.array([10e7]).reshape(1,1),
                    H=np.array([15099]).reshape(1,1), 
                    Q = np.array([1469.1]).reshape(1,1), 
                    R = np.array([1]).reshape(1,1))

def KF_arma(p, q, df):
    KF = KalmanFilter(y=df['Nile'],
                    a_init=np.zeros(np.maximum(p, q+1)).reshape(np.maximum(p, q+1),1),
                    P_init = np.diag(10e7 * np.ones(np.maximum(p, q+1))),
                    H = np.array([0]).reshape(1,1),
                    Q)

22

In [114]:
np.diag(10e7 * np.ones(q+1)))

             id                    time        variable   value
376903  AS14.30 2014-04-06 11:38:32.033  appCat.weather   4.117
376904  AS14.30 2014-04-07 18:13:31.111  appCat.weather  11.039
376905  AS14.30 2014-04-07 18:16:49.107  appCat.weather  60.829
376906  AS14.30 2014-04-07 18:21:04.197  appCat.weather   3.018
376907  AS14.30 2014-04-11 07:51:16.948  appCat.weather   8.032
376908  AS14.30 2014-04-19 11:00:32.747  appCat.weather   3.008
376909  AS14.30 2014-04-26 10:19:07.434  appCat.weather   7.026
376910  AS14.30 2014-04-27 00:44:48.450  appCat.weather  23.033
376911  AS14.32 2014-04-07 18:25:14.036  appCat.weather  22.431
376912  AS14.30 2014-03-20 09:00:00.000            mood     NaN
376913  AS14.30 2014-03-20 12:00:00.000            mood     NaN
376914  AS14.30 2014-03-27 09:00:00.000            mood     NaN
376915  AS14.30 2014-04-09 18:00:00.000            mood     NaN
376916  AS14.30 2014-04-11 12:00:00.000            mood     NaN
376917  AS14.30 2014-04-11 15:00:00.000            mood     NaN
376918  AS14.30 2014-04-14 15:00:00.000            mood     NaN
376919  AS14.30 2014-04-20 12:00:00.000            mood     NaN
376920  AS14.30 2014-04-25 15:00:00.000            mood     NaN
376921  AS14.30 2014-05-05 18:00:00.000            mood     NaN
376922  AS14.30 2014-05-05 21:00:00.000            mood     NaN

             id                time variable value
0       AS14.01 2014-02-26 13:00:00     mood   6.0
1       AS14.01 2014-02-26 15:00:00     mood   6.0
2       AS14.01 2014-02-26 18:00:00     mood   6.0
3       AS14.01 2014-02-26 21:00:00     mood   7.0
4       AS14.01 2014-02-27 09:00:00     mood   6.0
...         ...                 ...      ...   ...
376918  AS14.30 2014-04-14 15:00:00     mood   NaN
376919  AS14.30 2014-04-20 12:00:00     mood   NaN
376920  AS14.30 2014-04-25 15:00:00     mood   NaN
376921  AS14.30 2014-05-05 18:00:00     mood   NaN
376922  AS14.30 2014-05-05 21:00:00     mood   NaN

[376923 rows x 4 columns]

In [129]:
# Get params
arima_model_fit.params

const     7.627699
ar.L1     0.978374
ma.L1    -0.916313
sigma2    0.443160
dtype: float64