In [1]:
import configparser
import os
from joblib import dump, load
import json
from tqdm import tqdm
from helpers.helper_functions import *
from helpers.helper_classes import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from joblib import dump, load

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)

c:\Users\caspa\Desktop\data-mining-techniques-vu\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Read config.ini file
config = configparser.ConfigParser()
config.read('src/config.ini')
# os.chdir(config['PATH']['ROOT_DIR'])

# # Load data
df = pd.read_csv(config['PATH']['DATA_DIR'] + '/training_set.csv')
# df

# mini df for testing quickly 
df_mini = df.iloc[:1000, :].copy()
# df.drop('Unnamed: 0', axis=1, inplace=True)

# time to datetime
# df['time'] = pd.to_datetime(df['time'])

In [3]:
def construct_target(row):
    if row['booking_bool'] == 1:
        return 5
    elif row['click_bool'] == 1:
        return 1
    else:
        return 0

def binary_target(row):
    if row['booking_bool'] == 1:
        return 1
    else:
        return 0

def drop_cols(df, cols):
    return df.drop(cols, axis=1)

In [4]:
df_1 = df

# Construct target and drop leaky columns
df_1['target'] = df_1.apply(binary_target, axis=1)
df_1['grades'] = df_1.apply(construct_target, axis=1)
df_1 = df_1.drop(['random_bool', 'click_bool', 'booking_bool', 'date_time', 'gross_bookings_usd'], axis=1)

## Test: Drop all columns with NaNs
df_1 = df_1.dropna(axis=1)
df_1

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,target,grades
0,1,12,187,219,893,3,1,2.83,4.95,27,104.77,0,23246,1,0,4,0,1,1,0,0
1,1,12,187,219,10404,4,1,2.20,5.03,26,170.74,0,23246,1,0,4,0,1,1,0,0
2,1,12,187,219,21315,3,1,2.20,4.92,21,179.80,0,23246,1,0,4,0,1,1,0,0
3,1,12,187,219,27348,2,1,2.83,4.39,34,602.77,0,23246,1,0,4,0,1,1,0,0
4,1,12,187,219,29604,4,1,2.64,4.93,4,143.58,0,23246,1,0,4,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,5,219,219,77700,3,1,1.61,0.00,2,118.00,0,16974,1,21,3,0,1,0,0,0
4958343,332785,5,219,219,88083,3,1,1.95,0.00,3,89.00,0,16974,1,21,3,0,1,0,0,0
4958344,332785,5,219,219,94508,3,1,1.10,0.00,4,99.00,0,16974,1,21,3,0,1,0,0,0
4958345,332785,5,219,219,128360,3,1,1.95,0.00,1,139.00,0,16974,1,21,3,0,1,0,1,5
4958346,332785,5,219,219,134949,3,1,1.10,0.00,6,61.00,0,16974,1,21,3,0,1,0,0,0

In [6]:
# Perform logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GroupShuffleSplit
from sklearn.metrics import roc_auc_score

# Split data
# splitter = GroupShuffleSplit(test_size=.20, n_splits=2, random_state = 7)
# split = splitter.split(X, groups=X['srch_id'])
# train_inds, test_inds = next(split)

# X = df_1.drop(['target', 'grades'], axis=1)
# y = df_1['target']
# y_grades = df['grades']


def train_test_split(df, target_str, test_size=.2):
    splitter = GroupShuffleSplit(test_size=test_size, n_splits=2, random_state = 7)
    split = splitter.split(df, groups=df['srch_id'])
    train_inds, test_inds = next(split)

    df_ideal = df.iloc[test_inds].copy().sort_values(by=['srch_id', 'grades'], ascending=[True, False], inplace=False)

    X = df_1.drop(['target', 'grades'], axis=1)
    y = df_1[target_str]
    X_train, X_test, y_train, y_test, test_ideal = X.iloc[train_inds], X.iloc[test_inds], y.iloc[train_inds], y.iloc[test_inds], df_ideal, 


    return X_train, X_test, y_train, y_test, test_ideal


X_train, X_test, y_train, y_test, test_ideal = train_test_split(df_1, 'target')

In [8]:
test_ideal[:100]

,srch_id,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_brand_bool,prop_location_score1,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,target,grades
145,12,5,219,158,129310,3,0,0.00,3.75,1,27.00,0,26648,2,21,3,0,1,1,0,1
119,12,5,219,158,7814,3,0,0.00,4.46,25,43.00,1,26648,2,21,3,0,1,1,0,0
120,12,5,219,158,10881,3,0,3.14,4.46,28,44.00,0,26648,2,21,3,0,1,1,0,0
121,12,5,219,158,12510,4,0,1.10,4.41,24,51.00,0,26648,2,21,3,0,1,1,0,0
122,12,5,219,158,17122,4,0,2.64,4.22,13,53.00,0,26648,2,21,3,0,1,1,0,0
123,12,5,219,158,18012,5,0,3.22,5.66,18,221.00,0,26648,2,21,3,0,1,1,0,0
124,12,5,219,158,29081,3,0,3.30,4.41,3,37.00,0,26648,2,21,3,0,1,1,0,0
125,12,5,219,158,43250,3,1,3.30,4.46,14,40.00,0,26648,2,21,3,0,1,1,0,0
126,12,5,219,158,45722,3,0,3.26,4.46,4,29.00,1,26648,2,21,3,0,1,1,0,0
127,12,5,219,158,47902,3,0,3.26,4.46,22,49.00,0,26648,2,21,3,0,1,1,0,0
128,12,5,219,158,55331,5,0,2.30,5.62,15,138.00,1,26648,2,21,3,0,1,1,0,0
129,12,5,219,158,59368,3,0,3.18,4.46,26,35.00,0,26648,2,21,3,0,1,1,0,0
130,12,5,219,158,73964,3,0,3.09,4.58,32,29.00,1,26648,2,21,3,0,1,1,0,0
131,12,5,219,158,82017,4,0,2.64,4.22,19,93.00,0,26648,2,21,3,0,1,1,0,0
132,12,5,219,158,83229,5,1,2.64,4.12,7,147.00,1,26648,2,21,3,0,1,1,0,0
133,12,5,219,158,84441,3,0,2.64,3.75,9,41.00,1,26648,2,21,3,0,1,1,0,0
134,12,5,219,158,89698,3,0,2.71,4.46,6,74.00,0,26648,2,21,3,0,1,1,0,0
135,12,5,219,158,92506,3,0,3.14,4.46,29,35.00,0,26648,2,21,3,0,1,1,0,0
136,12,5,219,158,93021,4,1,2.64,4.22,8,66.00,1,26648,2,21,3,0,1,1,0,0
137,12,5,219,158,97754,3,0,3.26,4.46,2,32.00,1,26648,2,21,3,0,1,1,0,0
138,12,5,219,158,105912,3,0,2.64,3.75,30,36.00,1,26648,2,21,3,0,1,1,0,0
139,12,5,219,158,108971,4,0,0.69,4.22,27,52.00,0,26648,2,21,3,0,1,1,0,0
140,12,5,219,158,111957,4,0,2.40,4.41,10,87.00,0,26648,2,21,3,0,1,1,0,0
141,12,5,219,158,113997,3,1,2.89,4.40,21,58.00,1,26648,2,21,3,0,1,1,0,0
142,12,5,219,158,114662,4,0,2.71,4.22,12,50.00,1,26648,2,21,3,0,1,1,0,0
143,12,5,219,158,117707,5,0,3.30,5.09,16,106.00,1,26648,2,21,3,0,1,1,0,0
144,12,5,219,158,121983,5,1,2.77,5.38,31,174.00,1,26648,2,21,3,0,1,1,0,0
146,12,5,219,158,139181,3,0,2.94,4.46,20,55.00,0,26648,2,21,3,0,1,1,0,0
168,17,18,129,31,87596,3,0,6.91,5.07,28,182.98,0,6285,4,194,4,1,2,1,0,1
147,17,18,129,31,2196,4,0,6.83,5.58,29,275.11,1,6285,4,194,4,1,2,1,0,0
148,17,18,129,31,3309,3,0,6.64,4.66,2,150.99,0,6285,4,194,4,1,2,1,0,0
149,17,18,129,31,11331,4,0,6.89,5.17,6,305.82,0,6285,4,194,4,1,2,1,0,0
150,17,18,129,31,17795,4,0,6.87,5.50,25,271.27,1,6285,4,194,4,1,2,1,0,0
151,17,18,129,31,21770,3,0,6.73,5.12,14,168.91,0,6285,4,194,4,1,2,1,0,0
152,17,18,129,31,23984,4,0,6.90,5.33,10,327.58,0,6285,4,194,4,1,2,1,0,0
153,17,18,129,31,28503,4,0,6.87,5.55,21,203.45,0,6285,4,194,4,1,2,1,0,0
154,17,18,129,31,35054,4,0,6.75,5.52,22,310.94,0,6285,4,194,4,1,2,1,0,0
155,17,18,129,31,43549,3,0,6.89,5.34,19,189.38,1,6285,4,194,4,1,2,1,0,0
156,17,18,129,31,45379,3,0,6.70,5.03,30,278.95,0,6285,4,194,4,1,2,1,0,0
157,17,18,129,31,56046,4,0,6.69,5.00,9,229.05,0,6285,4,194,4,1,2,1,0,0
158,17,18,129,31,58295,4,1,6.89,5.67,4,323.74,0,6285,4,194,4,1,2,1,0,0
159,17,18,129,31,66095,4,0,6.88,5.23,26,235.44,1,6285,4,194,4,1,2,1,0,0
160,17,18,129,31,66890,4,1,6.70,5.31,35,255.92,1,6285,4,194,4,1,2,1,0,0
161,17,18,129,31,73557,3,0,6.79,5.15,7,174.02,0,6285,4,194,4,1,2,1,0,0
162,17,18,129,31,73790,3,0,6.69,5.15,34,197.06,0,6285,4,194,4,1,2,1,0,0
163,17,18,129,31,78834,3,0,6.91,5.58,12,299.42,0,6285,4,194,4,1,2,1,0,0
164,17,18,129,31,82886,4,0,6.90,5.34,3,202.18,1,6285,4,194,4,1,2,1,0,0
165,17,18,129,31,83594,3,0,6.76,5.10,33,179.14,0,6285,4,194,4,1,2,1,0,0
166,17,18,129,31,84999,3,0,6.80,5.15,20,243.12,0,6285,4,194,4,1,2,1,0,0
167,17,18,129,31,85819,3,0,6.35,5.06,15,138.20,0,6285,4,194,4,1,2,1,0,0
169,17,18,129,31,90634,4,0,6.40,5.54,1,185.54,1,6285,4,194,4,1,2,1,0,0
170,17,18,129,31,91671,3,0,6.74,5.14,8,225.21,0,6285,4,194,4,1,2,1,0,0
171,17,18,129,31,101782,4,0,6.90,5.70,32,231.61,1,6285,4,194,4,1,2,1,0,0
172,17,18,129,31,104381,4,0,6.74,5.30,24,262.32,0,6285,4,194,4,1,2,1,0,0
173,17,18,129,31,114872,4,0,6.82,5.73,18,225.21,0,6285,4,194,4,1,2,1,0,0
174,17,18,129,31,116414,3,0,6.89,5.22,13,165.07,0,6285,4,194,4,1,2,1,0,0
175,17,18,129,31,119357,3,0,6.88,5.04,27,190.66,0,6285,4,194,4,1,2,1,0,0
176,17,18,129,31,122245,3,0,6.72,5.12,16,221.37,0,6285,4,194,4,1,2,1,0,0
177,17,18,129,31,136312,4,0,6.91,5.49,31,301.98,0,6285,4,194,4,1,2,1,0,0
211,25,5,219,219,23228,4,0,3.26,4.44,22,42.00,1,3735,1,0,2,0,1,0,1,5
207,25,5,219,219,2863,3,1,1.95,4.51,1,68.00,0,3735,1,0,2,0,1,0,0,0
208,25,5,219,219,12255,2,1,2.40,4.75,13,78.00,0,3735,1,0,2,0,1,0,0,0
209,25,5,219,219,20707,4,0,2.20,4.87,2,48.00,1,3735,1,0,2,0,1,0,0,0
210,25,5,219,219,22710,3,0,2.20,4.40,10,47.00,1,3735,1,0,2,0,1,0,0,0
212,25,5,219,219,30829,2,1,1.39,4.22,29,55.00,0,3735,1,0,2,0,1,0,0,0
213,25,5,219,219,50684,3,1,1.61,4.85,30,110.00,0,3735,1,0,2,0,1,0,0,0
214,25,5,219,219,53298,2,0,3.14,4.54,24,53.00,1,3735,1,0,2,0,1,0,0,0
215,25,5,219,219,54036,3,1,1.79,4.87,35,109.00,0,3735,1,0,2,0,1,0,0,0
216,25,5,219,219,54226,4,0,1.79,4.76,4,45.00,0,3735,1,0,2,0,1,0,0,0
217,25,5,219,219,56370,2,1,1.39,4.32,28,65.00,0,3735,1,0,2,0,1,0,0,0
218,25,5,219,219,61189,3,0,1.39,4.21,27,40.00,0,3735,1,0,2,0,1,0,0,0
219,25,5,219,219,61885,3,1,1.79,5.72,36,139.00,0,3735,1,0,2,0,1,0,0,0
220,25,5,219,219,63731,3,1,0.69,5.27,33,119.00,0,3735,1,0,2,0,1,0,0,0
221,25,5,219,219,65623,3,1,2.30,4.92,9,110.00,0,3735,1,0,2,0,1,0,0,0
222,25,5,219,219,66171,3,1,2.08,4.41,6,65.00,0,3735,1,0,2,0,1,0,0,0
223,25,5,219,219,66209,4,1,3.26,4.17,19,32.00,1,3735,1,0,2,0,1,0,0,0
224,25,5,219,219,68528,4,0,2.08,4.29,7,49.00,1,3735,1,0,2,0,1,0,0,0
225,25,5,219,219,69645,2,1,1.39,4.18,32,75.00,0,3735,1,0,2,0,1,0,0,0
226,25,5,219,219,79870,2,1,2.20,4.06,8,37.00,1,3735,1,0,2,0,1,0,0,0
227,25,5,219,219,81772,3,0,3.22,4.16,18,29.00,0,3735,1,0,2,0,1,0,0,0
228,25,5,219,219,83281,2,1,2.08,4.37,12,45.00,0,3735,1,0,2,0,1,0,0,0
229,25,5,219,219,88629,2,1,0.69,4.23,31,35.00,0,3735,1,0,2,0,1,0,0,0
230,25,5,219,219,91587,3,1,1.61,4.93,3,129.00,0,3735,1,0,2,0,1,0,0,0
231,25,5,219,219,112716,4,0,1.61,4.42,14,48.00,0,3735,1,0,2,0,1,0,0,0
232,25,5,219,219,118859,3,1,3.26,4.45,21,27.00,1,3735,1,0,2,0,1,0,0,0
233,25,5,219,219,120046,4,0,3.26,4.68,16,50.00,0,3735,1,0,2,0,1,0,0,0
234,25,5,219,219,120328,2,1,1.79,4.52,34,62.00,0,3735,1,0,2,0,1,0,0,0
235,25,5,219,219,122279,2,1,3.04,4.20,26,38.00,0,3735,1,0,2,0,1,0,0,0
236,25,5,219,219,125384,3,1,2.77,4.49,25,60.00,0,3735,1,0,2,0,1,0,0,0
237,25,5,219,219,126136,4,0,3.26,4.65,20,39.00,0,3735,1,0,2,0,1,0,0,0
238,25,5,219,219,126803,2,1,1.61,4.18,15,60.00,0,3735,1,0,2,0,1,0,0,0
239,25,5,219,219,133065,3,1,1.79,4.75,37,109.00,0,3735,1,0,2,0,1,0,0,0
243,28,5,219,219,13996,4,1,2.89,5.07,26,85.00,0,24232,3,27,1,0,1,0,1,5
240,28,5,219,219,5739,4,1,2.64,5.38,3,110.00,1,24232,3,27,1,0,1,0,0,0
241,28,5,219,219,11244,2,1,2.20,4.65,38,54.00,1,24232,3,27,1,0,1,0,0,0
242,28,5,219,219,11726,3,1,2.64,5.24,12,89.00,0,24232,3,27,1,0,1,0,0,0
244,28,5,219,219,16096,3,1,1.61,4.44,32,60.00,0,24232,3,27,1,0,1,0,0,0
245,28,5,219,219,17853,4,1,2.48,5.46,13,119.00,0,24232,3,27,1,0,1,0,0,0
246,28,5,219,219,18016,3,1,3.04,4.43,1,44.00,1,24232,3,27,1,0,1,0,0,0
247,28,5,219,219,19598,4,1,2.64,5.35,4,98.00,0,24232,3,27,1,0,1,0,0,0

In [44]:
df

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool,target,grades
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,1,2.83,0.0438,4.95,27,104.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0,0.0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,1,2.20,0.0149,5.03,26,170.74,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0,0.0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,1,2.20,0.0245,4.92,21,179.80,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0,0.0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,1,2.83,0.0125,4.39,34,602.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,-1.0,0.0,5.0,-1.0,0.0,5.0,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0,0,0.0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,1,2.64,0.1241,4.93,4,143.58,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,1,1.61,0.0471,0.00,2,118.00,0,16974,1,21,3,0,1,0,NaN,550.92,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0,0.0
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,1,1.95,0.1520,0.00,3,89.00,0,16974,1,21,3,0,1,0,NaN,553.14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0,0.0
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,1,1.10,0.0164,0.00,4,99.00,0,16974,1,21,3,0,1,0,NaN,544.43,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0,0.0
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,1,1.95,0.0662,0.00,1,139.00,0,16974,1,21,3,0,1,0,NaN,550.38,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1,1,1.0
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,1,1.10,NaN,0.00,6,61.00,0,16974,1,21,3,0,1,0,NaN,583.25,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0,0.0

In [ ]:
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
preds1 = log_reg.predict_proba(X_test)

In [24]:
preds1

array([[0.96306605, 0.03693395],
       [0.96537174, 0.03462826],
       [0.96381922, 0.03618078],
       ...,
       [0.97866637, 0.02133363],
       [0.9744209 , 0.0255791 ],
       [0.97439504, 0.02560496]])

In [19]:
df_mini[:30]

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,1,2.83,0.0438,4.95,27,104.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,1,2.20,0.0149,5.03,26,170.74,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,1,2.20,0.0245,4.92,21,179.80,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,1,2.83,0.0125,4.39,34,602.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,-1.0,0.0,5.0,-1.0,0.0,5.0,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,1,2.64,0.1241,4.93,4,143.58,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,1,2.77,0.1302,5.20,7,195.32,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,1,2.20,0.0356,4.81,18,129.35,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,0,1.61,NaN,4.14,35,85.37,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,1,2.56,0.1238,5.18,3,150.05,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,1,2.83,0.1028,5.15,10,280.69,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,1,2.20,NaN,5.08,20,190.14,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,1.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,0,2.20,0.0377,4.78,19,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,-1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,31.0,0,NaN,0
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,1,2.20,0.0206,4.44,13,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,1,2.40,0.1255,5.03,2,210.84,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
14,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,81437,3,4.0,1,2.30,0.0155,5.03,15,138.40,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
15,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,85728,2,3.0,1,1.79,0.0072,4.50,31,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,8.0,NaN,NaN,NaN,1.0,-1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
16,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88096,4,4.0,1,2.94,0.0660,5.18,23,152.63,1,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,5.0,0.0,0.0,5.0,NaN,NaN,NaN,1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,15.0,0,NaN,0
17,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88127,3,3.0,1,1.39,0.0038,4.80,36,138.40,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
18,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88218,4,3.5,1,2.77,0.1266,4.98,8,115.12,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
19,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,89073,4,4.0,1,2.08,0.0150,5.28,6,191.44,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.0,0,NaN,0
20,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95166,3,4.0,1,2.71,0.0359,4.71,28,122.88,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,12.0,0.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
21,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95307,4,3.5,1,2.40,0.1149,4.93,1,139.70,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,29.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,27.0,0,NaN,0
22,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,97247,2,3.5,1,2.83,0.0145,4.68,32,115.12,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,5.0,NaN,NaN,NaN,1.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
23,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,107872,2,3.5,1,2.71,0.0465,4.44,12,128.06,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,23.0,0.0,0.0,10.0,NaN,NaN,NaN,1.0,-1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,14.0,0,NaN,0
24,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111000,3,4.5,1,2.20,0.0164,5.02,24,181.09,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
25,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111106,3,2.5,1,0.69,0.0071,4.67,37,120.29,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
26,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,114766,2,3.5,1,1.61,0.0052,4.67,33,104.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
27,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,122844,3,4.5,1,2.30,0.0032,5.46,29,190.14,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
28,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,3625,4,4.0,0,3.22,0.2544,5.98,21,295.00,0,12588,2,46,1,0,1,1,NaN,238.35,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
29,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11622,4,4.0,0,2.71,NaN,5.64,36,299.00,0,12588,2,46,1,0,1,1,NaN,238.34,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

## Evaluation

In [8]:
nunique_list = []
for col in df.columns:
    nunique_list.append(df[col].nunique())
pd.DataFrame({'col': df.columns, 'nunique': nunique_list})

                            col  nunique
0                       srch_id   199795
1                     date_time   198615
2                       site_id       34
3   visitor_location_country_id      210
4       visitor_hist_starrating      312
5          visitor_hist_adr_usd     7799
6               prop_country_id      172
7                       prop_id   129113
8               prop_starrating        6
9             prop_review_score       10
10              prop_brand_bool        2
11         prop_location_score1      337
12         prop_location_score2     9342
13    prop_log_historical_price      392
14                     position       40
15                    price_usd    76465
16               promotion_flag        2
17          srch_destination_id    18127
18          srch_length_of_stay       36
19          srch_booking_window      429
20            srch_adults_count        9
21          srch_children_count       10
22              srch_room_count        8
23     srch_saturday_night_bool        2
24    srch_query_affinity_score   199387
25    orig_destination_distance   530595
26                  random_bool        2
27                   comp1_rate        3
28                    comp1_inv        3
29      comp1_rate_percent_diff     1830
30                   comp2_rate        3
31                    comp2_inv        3
32      comp2_rate_percent_diff      596
33                   comp3_rate        3
34                    comp3_inv        3
35      comp3_rate_percent_diff      534
36                   comp4_rate        3
37                    comp4_inv        3
38      comp4_rate_percent_diff      482
39                   comp5_rate        3
40                    comp5_inv        3
41      comp5_rate_percent_diff      645
42                   comp6_rate        3
43                    comp6_inv        3
44      comp6_rate_percent_diff      380
45                   comp7_rate        3
46                    comp7_inv        3
47      comp7_rate_percent_diff      585
48                   comp8_rate        3
49                    comp8_inv        3
50      comp8_rate_percent_diff      491
51                   click_bool        2
52           gross_bookings_usd    60687
53                 booking_bool        2

In [9]:
df['booking_bool'].value_counts()

booking_bool
0    4819957
1     138390
Name: count, dtype: int64